<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
  <head>
 <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>#{get 'title' /}</title>
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}" id="favIcon"></link>
*{#{script src:'uicomJquery-1.8.1.min.js', charset:'utf-8' /}}*
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
#{gaTrackingCode /}
#{stylesheet media:'screen', src:'uicomMicrosite/o.home.css' /}
#{script src:'o.utils.js', charset:'utf-8' /}
  </head>
    <body>
        %{
            appName=play.Play.configuration.getProperty("application.name");
        }%
	<div class="pageFullWidth mainRegHolder loginFor${appName.toUpperCase()}" 
	    id="contentSectionHolder" style="min-height:490px;">
            #{doLayout /}
	</div>
	<div id="detectClientMsg"></div>
      #{common.noscript/}
      #{common.vPopup/}
      <style type="text/css">
	.vpopupBodyHolder{
        	border:3px solid #FEA918;
        	border-radius:5px;
		box-shadow: none;
	}
      </style>
    </body>
</html>
<script type="text/javascript">
	function checkVedantuClient(){
		try{
			vedantuClient.verifyClient($("#detectClientMsg"));
			$("#detectClientMsg").append("<p>"+vedantuClient.detectedClientMsg()+"</p>");
			if(onDocLoadInterval) clearInterval(onDocLoadInterval);
		}catch(err){}
	}
	var onDocLoadInterval = setInterval(function(){
		checkVedantuClient();
	},1000);
	$(document).ready(function(){
		checkVedantuClient();
	});
</script>
