#[Auto generated class files]
tmp/
target/
.target/
bin/
dist/
out/
work/

#[ant]
.ant-targets-build.xml

#[Eclipsify]
eclipse/
.classpath
.project
.settings/
.metadata/

#[Netbeansify]
nbproject/

#[Idea]
/.idea
/*.iml
/.idea_modules

#[logs]
logs/
logs

#[data]
data/

#[others]
.history
