<div id="userAllNotifcations">
   <div class="pageHolderM">
    <div class="" style="margin-top:25px;">
        <span class="big20">Terms and Conditions</span>
    </div>
    <div class="greyUnderline"></div>
    <h3>Making a referral</h3>
    <p>An individual must create a learnpedia  account to make a referral.Once an individual refers a friend, family member or colleague, he/she becomes a Referrer and will be provided with a unique referral link (“Personal Link”) or a referral code that allows the Referrer to receive credit for Qualified Referrals.</p> 
    <h3>QUALIFIED REFERRALS</h3>
    <p>A Qualified Referral means that all the following conditions are met:</p>
    <ul>
      <li>The Referred Customer completed the signup process with the Service using the Referrer’s “Personal Link.” or a referral code. If a Referred Customer registers with the Service using any other link or method, the registration will not count as a Qualified Referral and the Referrer will not earn credits.</li>
      <li>The Referred Customer was not previously registered with the Service under any email address or alias.</li>
    </ul>
    <h3>CREDITS REDEMPTION</h3>
    <ul>
    <li>Wallet holders can choose to use the funds available in their Wallet for Learnpedia Services only.</li>
        <li>The wallet holder may also partially pay for the services offered by Learnpedia from its Wallet and pay the remaining amount using other payment mechanism such as debit card, credit card, netbanking, etc provided by Learnpedia.</li>
        <li>In case of a failed transaction,the credits will be credited back into your wallet within one day.</li>
        <li>A user can either use learnpedia credits or coupon code but not both to avail services offered.</li>
        <li>You can apply your LP credits for one order at a time.</li>

    </ul>
   </div>
</div>
<script type="text/javascript">
        var instHmPgOpenTimer;
        $(function(){
                if(instHmPgOpenTimer){clearInterval(instHmPgOpenTimer);}
                instHmPgOpenTimer = setInterval(function(){
                        if(institute && institute.notifications){
                                clearInterval(instHmPgOpenTimer);
                                institute.notifications.init();
                        }
                },10);
        });
</script>
