<div class="relative" style="margin: 0 auto;width: 800px;">
	<div style="margin:50px 0 0 0;width:730px;">
		<img src="/public/images/LMS/lakshya-logo-tm.jpg" alt=""/>
                <a class="right relative" style="padding:45px 20px 0 0;" href="http://www.lakshyainstitute.com/home" target="_blank">Visit Lakshya Institute site</a>
	</div>
	<div style="margin:20px 0 0 0;width:730px;">
		<div style="background-color:#fff;padding:20px;z-index:10;" class="big15 simpleBoxShadow relative">
			<span class="blueTextColor boldy big16">About Lakshya</span>
			<p style="line-height:18px;">
			<b>Lakshya</b> is a dream child of four young IIT graduates conceptualized with an aim to <b>revolutionize</b> the way learning is perceived and teaching is delivered. Lakshya institute is currently started up in the very tangible segment of <b>IIT-JEE, AIEEE</b> and <b>medical</b> entrance examinations training where they train students for these competitive examinations which they give after their XII std.	
			</p>
		</div>
		<div style="background-color:rgba(255,255,255,0.6);padding:20px;margin:0 5px;z-index:5;" class="simpleBoxShadow relative">
			<span class="blackTextColor boldy big14">Upcoming Features on Institute page:</span>
			<p>
				<ul class="simpleLIPadding greenColor boldy big14" style="list-style: disc outside none;padding-left: 30px;">
                                        <li>Teachers and Students profile: <span style="color: #666666;font-weight: normal;font-size: 12px;">There will be institute based profiles of teachers and students</span></li>
					<li>Discussion Forum: <span style="color: #666666;font-weight: normal;font-size: 12px;">Teachers and students will be able to engage in institute based academic discussions through a comprehensive discussions interface</span></li>
					<li>Content Sharing: <span style="color: #666666;font-weight: normal;font-size: 12px;">Teachers would be able to share specific content with their students </span></li>
					<li>Institute's Library: <span style="color: #666666;font-weight: normal;font-size: 12px;">Access to official institute content</span></li>
					<li>Curriculum management: <span style="color: #666666;font-weight: normal;font-size: 12px;">Access to features like Class schedule management and Course tracking</span></li>
					<li>Ask Expert: <span style="color: #666666;font-weight: normal;font-size: 12px;">Students will be able to post direct questions (Academic/Non-Academic) to various experts/Teachers</span></li>
				</ul>
		</div>
	</div>
</div>
