/* Portfolio Section*/
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 226px;
    margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(62, 75, 92, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 15px;
    text-align: center;
    top: 30%;
    margin-top: -12px;
    color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 226px;
    margin: 0 auto;
    background-color: #3E4B5C;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}
#portfolio * {
    z-index: 2;
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/* End */

@media (max-width: 480px) {
    #footer {
        left: 0;
        padding-bottom: 100px;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 767px) {
    #footer {
        left: 0;
        padding-bottom: 80px;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    #footerhead {
        padding-bottom: 10px;
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #footer {
        left: 0;
        padding-bottom: 70px;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    #footerhead {
        padding-bottom: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #footer {
        left: 0;
        padding-bottom: 40px;
        bottom: 0;
        width: 100%;
    }
}
@media (min-width: 1200px) {
    #footer {
        left: 0;
        padding-bottom: 35px;
        bottom: 0;
        width: 100%;
    }
}
.top-headings span {
    color: white;
    font-weight: bold;
}
@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url("/public/outerAssets/assets/fonts/Adobe Caslon Pro Regular.ttf");
}
#otpsignupModal .intl-tel-input {
    position: relative;
    display: block !important;
}
#otploginModal .intl-tel-input {
    position: relative;
    display: block !important;
}
#productsModal .intl-tel-input {
    position: relative;
    display: block !important;
}
.loginFieldTitle {
    text-align: left!important;
}
.navbar-md {
    min-height: 60px
}
.navbar-md .navbar-brand, .navbar-md .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px
}
.navbar-md .navbar-brand {
    height: 60px;
    top: -18px;
    position: relative;
}
.navbar-md .navbar-toggle {
    margin: 6px 12px 6px 0px;
    padding: 6px 7px 6px 7px;
}
.navbar-md .navbar-toggle .icon-bar {
    width: 19px;
}
.navbar-nav>li {
    position: relative;
    top: 10px;
}

/* Product Images */

#images {
    cursor: pointer;
}
#images img:last-child {
    display: none
}
#images :hover img:first-child {
    display: none
}
#images :hover img:last-child {
    display: inline-block
}

/* */

.modal {
    text-align: center;
    padding: 0!important;
}
e .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#signbtn:hover {
    background: #62b23b;
}
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

/* SPECIFIC */

.sliderSprite, .spriteImg {
    background-image: url('/public/outerAssets/images/siteSprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 1px;
}
.googlePlayIcon {
    background-position: -231px -18px;
    height: 51px;
    width: 180px;
}
.googlePlayIcon:hover {
    background-position: -231px -81px;
}
#playstoreText {
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.8;
}

/* FEATURES SECTION END */

.timer {
    display: inline-block;
    float: left;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-size: 4.6875em;
    font-weight: 800;
    line-height: 90px;
    padding-top: 30px;
    text-align: right;
    width: 58%;
    color: #d92026;
}
.viewall {
    margin: -60px 0 25px 0;
}
#portfolio .container {
    text-align: center;
}
#portfolio .col-md-3 {
    float: none;
    display: inline-block;
    text-align: left; //reset the text alignement to left
}

/* Radio button CSS */

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 3px 0px gray inset;
}
input[type='radio']:hover {
    box-shadow: 0 0 5px 0px orange inset;
}
input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}
input[type='radio']:checked:before {
    background: #62b23b;
}
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}
#boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
}
#boxes #dialog {
    width: 1000px;
    height: 336px;
    padding: 0px;
    background-color: #ffffff;
}
.lpban {
    display: inline-block;
    margin-left: 67%;
    margin-top: -270px;
    position: absolute;
    z-index: 99999
}
.lpban img {
    position: relative;
}
.contedit {
    position: relative;
}
#footerform .form-control {
    min-height: 40px;
}
#otpsignupModal .modal-header {
    border-bottom: none!important;
}
#otploginModal .modal-header {
    border-bottom: none!important;
}
#otpErrorModal .modal-header {
    border-bottom: none!important;
}
.redTextColor {
    color: #cc6666;
}
.navbar-toggle{
    left: 10px;
    position: relative;
}
.loginPopupBtn{
    cursor: pointer;
}
.swal2-modal{
    width: 300px;
}