<div id="changePasswordSample" class="nonner">
 <div id="changePasswordPopup">
     <div class="cmdsPopupHead">Change Password</div>
    <div class="greenTextColor centerText boldy big13 successText nonner">Successfully saved</div>
    <div class="color6 boldy extraMessage margTop margBot10 nonner">From now, use this username 
        and password to login. You will no longer be able to login using your organization 
        credentials.</div> 
    <table class="width100Percent">
        <tbody>
            <tr class="currentPassTr">
              <td class="width100">
                  Current Password*
              </td>
              <td>
                  <div class="inputDiv">                      
                      <input type="password" class="formInput" name="oldPassword" data-req="true"/>
                  </div>                            
              </td>
          </tr>   
          <tr>
              <td class="width100">
                  New Password*
              </td>
              <td>
                  <div class="inputDiv">                      
                      <input type="password" class="formInput" name="newPassword" data-req="true"/>
                  </div>                            
              </td>
          </tr>      
          <tr>
              <td class="width100">
                  Confirm Password*
              </td>
              <td>
                  <div class="inputDiv">                      
                      <input type="password" class="formInput" name="confirmPassword" data-req="true"/>
                  </div>                            
              </td>
          </tr>                
        </tbody>
     </table>          
   </div>
</div>
