#searchContentHeader{
width:100%;
min-height:50px;
background-color:#a7cde0;
}
#searchContentHeader .topSearchContent,
.searchSuggestionPadder,
#searchContentPage{
width:1002px;
margin-left:-501px;
margin-right:-501px;
left:50%;
right:50%;
min-height:100%;
}
.searchSuggestionParent{
width:100%;
background-color:rgba(255,255,255,0.6);
}
#searchContentHeader em,
#searchContentPage em{
background-color:#f29294;
}
.topSearchContent{
padding:10px 0 10px 0;
}
.selectSearchContentType{
margin:-1px 0 0 0;
width:110px;
height:31px;
border:1px solid #bdbf80;
background-image: url('/public/images/search-content/button-bg.png');
background-repeat: repeat-x;
}
.selectSearchContentType .vSelectListHolder{
max-height:300px;
}
.selectSearchContentType .dropDownIcon{
padding-top:24px;
}
.searchContentInputQuery{
width:540px;
height:29px;
padding-left:4px;
background-color:#faf9b6;
-webkit-box-shadow: inset 0 1px 2px #8a8a62;
-moz-box-shadow: inset 0 1px 2px #8a8a62;
box-shadow: inset 0 1px 2px #8a8a62;
background-image: url('/public/images/search-content/search-icon.png');
background-position:99% 9px;
background-repeat: no-repeat;
outline:none;
border:0px;
}
.searchDirectly{
margin:4px 0 0 200px;
}
.selectSearchContentDirectly{
height:20px;
width:200px;
}
.selectSearchContentDirectly .dropDownIcon{
padding-top:6px;
}

.searchContentLHS{
width:695px;
min-height:90%;
padding-bottom:50px;
}
.searchContentNavBar{
min-height:30px;
width:100%;
background-color:#cae5f8;
border:1px solid #bdd4e4;
}
.searchContentNavItem{
padding:7px 10px 0 2px;
color:#585f65;
}
.searchContentNavItemCross{
background-image:url('/public/images/search-content/cross.png');
background-repeat:no-repeat;
width:20px;
height:16px;
cursor:pointer;
}
.bowShadowDivider{
width:100%;
padding:15px 0 15px 0;
}
.verticalSectionsDivider{
min-height:100%;
height:700px;
width:1px;
background-color:#ccc;
border-right:1px solid #fff;
}
.searchContentResults{
width:100%;
}
.searchContentRHS{
width:300px;
min-height:100%;
}

.searchFacetsTargets,
.searchFacetsSubjects,
.searchFacetsTopics{
width:94%;
min-height:50px;
overflow:hidden;
margin:20px 0 15px 20px;
border-bottom:1px solid #ccc;
}
.searchFacetsOptionsList{
max-width:90%;
overflow:hidden;
margin:5px 0 5px 5%;
}
.searchFacetsOptHolder{
width:98%;
min-height:20px;
margin:2px 0 2px 0;
border-radius:3px;
}
.searchFacetItemText,
.searchFacetBoldItemText{
margin-top:5px;
font-weight:bold;
font-size:12px;
position:absolute;
white-space:nowrap;
max-width:98%;
overflow:hidden;text-overflow:ellipsis;
}
.searchFacetItemText{
font-weight:normal;
}
.searchContentSuggestionHolder{
width:540px;
min-height:0px;
background-color:#fff;
margin:1px 0 10px 115px;
border:1px solid #ccc;
border-top-width:0px;
}
.searchContentSuggestionSummary{
padding:7px 0 0 0;
margin:5px;
width:98.6%;
background-color:#d2e7f1;
text-align:center;
min-height:20px;
}
.eachSearchContentSuggestions{
margin:5px;
padding-top:5px;
width:98.6%;
min-height:20px;
border-bottom:1px solid #ccc;
cursor:pointer;
}
.eachSearchContentSuggestionsSelected{
background-color:#e6e6e6;
}
.searchSuggResultType{
height:100%;
min-width:100px;
padding:0px 20px 0 10px;
}
.searchSuggResultParent,
.searchSuggestionText{
max-width:350px;
overflow:hidden;
}
.searchSuggResultParent{
color:#999;
font-size:10px;
}
.eachSearchContentSuggestions em{
font-weight:bold;
color:#000;
}
