<link href="/public/stylesheets/exams.css" rel="stylesheet"/>
<div class="card" id="examCardContainer" style="max-width: 1000px;">
    <div class="card-header">
        <h3>All India Institute of Medical Sciences (AIIMS)</h3>
    </div>
    <div class="card-body card-padding">
        <div class="panel-group" role="tablist" data-collapse-color="green" aria-multiselectable="true">
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#about"
                           aria-expanded="true" aria-controls="about">
                            About AIIMS
                        </a>
                    </h4>
                </div>
                <div id="about" class="collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        All India Institute of Medical Sciences MBBS Entrance Examination is a national level undergraduate medical entrance exam conducted by All India Institute of Medical Sciences, New Delhi for admission to MBBS programs offered in the 7 AIIMS institutes (New Delhi, Bhopal, Bhubaneswar, Jodhpur, Patna, Raipur and Rishikesh.)
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#eligibility" aria-expanded="false" aria-controls="eligibility">
                            Eligibility
                        </a>
                    </h4>
                </div>
                <div id="eligibility" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ol>
                            <li>Candidates must be Indian nationals or overseas citizens of India</li>
                            <li>Candidate should be of 17 years of age by 31st December of the year of admission. (I.e the year in which the exam is conducted)</li>
                            <li>Should have passed or appearing for the 12thClass
                                <ul>
                                    <li>under the 10+2 Scheme/ Senior School Certificate Examination (CBSE) or </li>
                                    <li>Intermediate Science (I.Sc.) or</li>
                                    <li>an equivalent Examination of a recognized University/ Board of any Indian State </li>
                                </ul>
                                with ENGLISH, PHYSICS, CHEMISTRY and BIOLOGY as subject with a minimum of 60% for general& OBC candidates, 50% for SC/ST/OPH candidates.
                                <br>
                                However the candidates appearing for any of these exams would be considered only when they passed the exam with required percentage.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            Exam Pattern
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ol>
                            <li>Exam would be a computer based test on one day.</li>
                            <li>Duration of exam is 03hrs 30mins</li>
                            <li>Exam will be conducted in 2 shifts (Morning Shift / First shift :  09:00 AM to 12:30 PM   Afternoon Shift / Second shift :   03:00 PM to 06:30 PM )
                            <br>
                            In exceptional circumstances the test might be conducted on 2 days.</li>
                            <li>Paper would consist of 200 Questions with subject wise division as follows
                            <br>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-condensed">
                                        <tr>
                                            <td>Physics</td>
                                            <td>60</td>
                                        </tr>
                                        <tr>
                                            <td>Chemistry</td>
                                            <td>60</td>
                                        </tr>
                                        <tr>
                                            <td>Biology</td>
                                            <td>60</td>
                                        </tr>
                                        <tr>
                                            <td>General Knowledge</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>Aptitude & Logical Thinking</td>
                                            <td>10</td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                            <li>Each correct response will get a score of 1 mark.
                            <br>
                            Each incorrect response will get a score of - ⅓ (minus-one-third).
                            <br>
                            No credit will be given for the questions not answered or marked for review
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                           aria-expanded="true" aria-controls="collapseFour">
                            Merit list preparation
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel"
                     aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p>Scores will be normalised using percentile system so as to have a common merit list for students of both the shifts.
                        <br>
                        However the cutoff for the exam has to be satisfied by the candidates which are
                        <br>
                        General Category : 50% <br>
                        OBC (Non Creamy Layer)  : 45%<br>
                        SC / ST : 40% OPH</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                           aria-expanded="true" aria-controls="collapseFive">
                            Participating institutes
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel"
                     aria-labelledby="headingFive">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Institutes</th>
                                    <th>No of Seats</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AIIMS New Delhi</td>
                                    <td>107</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>AIIMS Bhopal</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>AIIMS Bhubaneswar</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>AIIMS Jodhpur</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>AIIMS Patna</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>AIIMS Raipur</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>AIIMS Rishikesh</td>
                                    <td>100</td>
                                </tr>
                                <tr class="finalTable">
                                    <td></td>
                                    <td>Total</td>
                                    <td>707</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                           aria-expanded="true" aria-controls="collapseSix">
                            Important dates ( last exam)
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel"
                     aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Activity</th>
                                    <th>Date</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Online Registration of Applications on AIIMS website <a href="https://www.aiimsexams.org" target="_blank">www.aiimsexams.org</a> opens</td>
                                    <td>24th January, 2017</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Online Registration of Applications closes</td>
                                    <td>23rd  February,  2017  at 5:00 PM</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Status of Registration including rejection / deficiencies in application on AIIMS website</td>
                                    <td>7th  March, 2017</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Hosting / Uploading the Admit Cards on AIIMS website <a href="https://www.aiimsexams.org" target="_blank">www.aiimsexams.org</a></td>
                                    <td>1st  May, 2017</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Date of Entrance Examination</td>
                                    <td>28th  May, 2017</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Date of declaration of Result</td>
                                    <td>15th  June, 2017</td>
                                </tr>
                            </table>
                        </div>
                        <h3>Sources</h3>
                        <ul style="list-style-type: none;">
                          <li><a href="https://www.aiimsexams.org/index.html" target="_blank">https://www.aiimsexams.org/index.html</li>
                          <li><a href="https://medicine.careers360.com/articles/aiims-mbbs?icn=aiims-mbbs_article&ici=aiims-mbbs_exam_rdmrvp" target="_blank">https://medicine.careers360.com/articles/aiims-mbbs?icn=aiims-mbbs_article&ici=aiims-mbbs_exam_rdmrvp</li>
                          <li><a href="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2017/05/28205336/Prospectus_MBBS2017.pdf" target="_blank">https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2017/05/28205336/Prospectus_MBBS2017.pdf</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{if flag==true}
<script type="text/javascript">
    $(document).ready(function(){
        $(".instPageNavigator").find(".active").removeClass("active");
        $(".instPageNavigator").find(".instExamTab").closest("li").addClass("active");
    })
</script>
#{/if}