<link href="/public/stylesheets/exams.css" rel="stylesheet"/>
<div class="card" id="examCardContainer" style="max-width: 1000px;">
    <div class="card-header">
        <h3>Birla Institute of Technology and Science Aptitude Test (BITSAT)</h3>
    </div>
    <div class="card-body card-padding">
        <div class="panel-group" role="tablist" data-collapse-color="green" aria-multiselectable="true">
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            About BITSAT
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        BITS Admission Test(BITSAT) is conducted by BITS Pilani for admission to 3 BITS Pilani campuses (Pilani, Goa, Hyderabad) in the country for B.E and B. Pharm degrees.
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Eligibility
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ol>
                            <li>For B.E: Candidates should have passed the 12th Class examination from a recognized Central or State board or its equivalent with Physics, Chemistry, and Mathematics and adequate proficiency in English.</li>
                            <li>For B.Pharm: For admission to B.Pharm.: Candidates should have passed the 12th examination from a recognized Central or State board or its equivalent with Physics, Chemistry, and Biology and adequate proficiency in English. However candidates with PCM may also apply for Pharmacy program.</li>
                            <li>Only Students who are appearing for 12th examination in the year of conducting the test or who have passed 12th Examination in the previous year of the test being conducted are eligible to appear in the BITSAT-2017 test</li>
                            <li>The candidate should have obtained a minimum of aggregate 75% marks in Physics, Chemistry and Mathematics/ Biology subjects (if he/she has taken Mathematics or biology in BITSAT) with at least 60% marks in each of the Physics, Chemistry, and Mathematics/ Biology subjects.</li>
                            <li>First rank students of all the central and state boards in India for the year of conducting the test  will be given direct admission to the program of their choice, irrespective of their BITSAT score</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            Exam Pattern
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ol>
                            <li>It is a computer based online test conducted on multiple days (i.e between a given set of dates)</li>
                            <li>Total duration is of test is 3Hrs and each day the exam will be conducted in two slots. The first slot will be from 9.00am till 12.00noon and the second slot will be from 2.00pm till 5.00pm.</li>
                            <li>The test has 4 parts and 150 questions. There is no time limit for individual parts of the test</li>
                            <li>The distribution of questions is as below
                              <div class="table-responsive">
                                <table class="table table-bordered table-condensed">
                                  <tr>
                                    <td>a.</td>
                                    <td>Part I: Physics</td>
                                    <td>40</td>
                                  </tr>

                                  <tr>
                                    <td>b.</td>
                                    <td>Part II: Chemistry</td>
                                    <td>40</td>
                                  </tr>

                                  <tr>
                                    <td>c.</td>
                                    <td>Part III:  English Proficiency
                                      <br>
                                      Logical Reasoning
                                    </td>
                                    <td>15
                                      <br>
                                      10
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>d.</td>
                                    <td>Part IV: Mathematics/Biology (For B.Pharm)</td>
                                    <td>45</td>
                                  </tr>

                                </table>
                              </div>
                            </li>
                            <li>Each correct answer fetches 3 marks, while each incorrect answer has a penalty of 1 mark</li>
                            <li>The candidate will have an option of attempting 12 (twelve) extra questions, if there is still time left. These extra questions will be from Physics, Chemistry, and Mathematics/Biology only; four questions from each part.  Further, once the candidate has opted for extra questions, he/she cannot go back for correction of any of the earlier answered 150 questions.</li>
                            <li>The questions will be selected at random from a large question bank on a server. Different candidates will get different question sets</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                           aria-expanded="true" aria-controls="collapseFour">
                            Merit list preparation
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel"
                     aria-labelledby="headingFour">
                    <div class="panel-body">
                      <ol>
                        <li>A candidate who has appeared in BITSAT-2017 will be eligible for admission only if he/she gets the required minimum marks of 60% individually in the Physics, Chemistry and Mathematics/Biology subjects of 12th examination and an aggregate of minimum 75%.</li>
                        <li>All candidates who have appeared in BITSAT-2017 and are interested in admission will be required to submit Admission application with 12th marks and preferences to different degree programs offered</li>
                        <li>The merit position of eligible candidates (i.e., those who have appeared in BITSAT2017 and who have submitted the application for admission in the prescribed form with 12th marks, preferences and the required fees) will be prepared on the basis of their scores in BITSAT</li>
                        <li>There will be two separate merit lists prepared for admission. One for all the programmes except the B.Pharm. and, the other only for B.Pharm</li>
                      </ol>
                    </div>
                </div>
            </div>


            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                           aria-expanded="true" aria-controls="collapseSix">
                            Important dates
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel"
                     aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>S.No</th>
                                    <th>Activity</th>
                                    <th>Date</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Deadline to apply for BITSAT-2017</td>
                                    <td>6th March 2017 (5.00pm)</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Revision/editing in the application form by candidates</td>
                                    <td>7th   – 10th March 2017</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Test center allotment and announcement to candidates</td>
                                    <td>15th March 2017</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Candidates to reserve Test date and slot</td>
                                    <td>20th March – 5th April 2017</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Candidates to download the Hall tickets with instructions</td>
                                    <td>15th April – 10th May 2017</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>BITSAT Online tests</td>
                                    <td>16th May – 30th May 2017</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Apply for admission with 12th marks and Preferences</td>
                                    <td>20th May 2017 – 30th June 2017</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Admit List and Wait List announcement</td>
                                    <td>1st July 2017</td>
                                </tr>
                            </table>
                        </div>
                        <h3>Sources</h3>
                        <ul style="list-style-type: none;">
                          <li><a href="http://www.bitsadmission.com/bitsat/BITSAt_2017_Brochure.pdf" target="_blank">http://www.bitsadmission.com/bitsat/BITSAt_2017_Brochure.pdf</a></li>
                          <li><a href="https://en.wikipedia.org/wiki/Birla_Institute_of_Technology_and_Science,_Pilani_%E2%80%93_Goa_Campus" target="_blank">https://en.wikipedia.org/wiki/Birla_Institute_of_Technology_and_Science,_Pilani_%E2%80%93_Goa_Campus</a></li>
                          <li><a href="http://bitsadmission.com/" target="_blank">http://bitsadmission.com/</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{if flag==true}
<script type="text/javascript">
    $(document).ready(function(){
        $(".instPageNavigator").find(".active").removeClass("active");
        $(".instPageNavigator").find(".instExamTab").closest("li").addClass("active");
    })
</script>
#{/if}