<link href="/public/stylesheets/exams.css" rel="stylesheet"/>
<div class="card" id="examCardContainer" style="max-width: 1000px;">
    <div class="card-header">
        <h3>National Eligibility-cum-Entrance Test –UG (NEET)</h3>
    </div>
    <div class="card-body card-padding">
        <div class="panel-group" role="tablist" data-collapse-color="green" aria-multiselectable="true">
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            About NEET
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        National Eligibility-cum-Entrance Test –UG (NEET)  is conducted by the Central Board of Secondary Education (CBSE), for admission to MBBS/BDS Courses in India in Medical/Dental Colleges run with the approval of Medical Council of India/Dental Council of India under the Union Ministry of Health and Family Welfare, Government of India. The institutes which do not use this as qualifying exam are 7 AIIMS institutes and JIPMER Puducherry, as these institutes were set up by separate laws. 
                        <br>
                        Candidates who apply for NEET (UG)  and also seeking admission in AFMC will also have to apply to AFMC on <a href='http://www.afmc.nic.in' target="_blank">www.afmc.nic.in</a> / <a href='http://www.afmcdg1d.gov.in' target="_blank">www.afmcdg1d.gov.in</a>.
                        <br>
                        The available seats in the participating institutes are classified as following categories
                        <ol style="list-style-type: lower-roman;">
                          <li>All India Quota Seats : These for 15%seats of all institutes respectively.
                          Students from the States of Andhra Pradesh, Telangana and J & K are NOT ELIGIBLE for 15% all India quota seats as these States had opted out of All India Scheme since its inception. If they claim eligibility, they must submit online self-declaration that they do not have eligibility to participate in state quota seats in those respective states.</li>
                          <li>State Government Quota Seats</li>
                          <li>State/Private/Management/NRI Quota Seats in all Private Medical / Dental Colleges or any Private/ Deemed University: Candidates from the States of Andhra Pradesh, Telangana and J & K can appear in NEET (UG) for admission to Private Medical/Dental Colleges or any Private/Deemed University and Armed Forces Medical College (AFMC), Pune subject to the fulfilment of eligibility conditions</li>
                          <li>Central Pool Quota Seats</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Eligibility
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ol>
                            <li>All candidates who are eligible to obtain Adhar card should possess or should have applied for the same</li>
                            <li>In order to be eligible for admission to MBBS/BDS Courses for a particular academic year, it shall be necessary for a candidate to obtain minimum marks at 50th percentile for general category and 40th percentile for SC/ST/OBC</li>
                            <li>A candidate must have passed in the subjects of Physics, Chemistry, Biology/Bio-technology and English individually and must have obtained a minimum of 50% marks taken together in Physics, Chemistry, Biology/Bio-technology at the Qualifying Examination. However this limit is relaxed to 45% for candidates with locomotive disability of lower limbs and 40% for candidates belonging to SC/ST/OBC.</li>
                            <li>Candidate should be of 17 years of age by 31st December of the year of admission. (I.e the year in which the exam is conducted). 
                            <br>
                            The upper age limit for NEET is 25 years as on the date of examination with relaxation of 5 years for candidates belonging to OBC/SC/ST category</li>
                            <li>The number of attempts which a candidate can avail at NEET examination shall be limited to 3 uniformly to all the candidates</li>
                            <li>The exam can be taken by candidates of all nationalities</li>
                            <li>Candidates qualifying NEET would be eligible for All India Quota and other quotas under the State Governments/Institutes, subject to other eligibility criteria.</li>
                            <li>Students from the States of Andhra Pradesh, Telangana and J & K are NOT ELIGIBLE for 15% all India quota seats as these States had opted out of All India Scheme since its inception. If they claim eligibility, they must submit online Self Declaration.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            Exam Pattern
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ol>
                            <li>The Entrance Test shall consist of one paper containing 180 objective type questions (four options with single correct answer) from Physics, Chemistry and Biology (Botany & Zoology) to be answered on the specially designed machine-gradable sheet using Ball Point Pen provided by CBSE at examination centre only.</li>
                            <li>Duration of the test is 3 hrs. (10:00 am to 01:00 pm)</li>
                            <li>Each item carries 4 marks. For each correct response the candidate will get 4 marks. For each incorrect response one mark will be deducted from the total score.  No deduction from the total score will, however, be made if no response is indicated for an item in the answer sheet</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                           aria-expanded="true" aria-controls="collapseFour">
                            Merit list preparation
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel"
                     aria-labelledby="headingFour">
                    <div class="panel-body">
                        For counselling under 15% All India Quota the merit list of the eligible and successful Candidates who have opted for 15% All India quota seats will be prepared. The merit list will be equal to the number of seats available for allotment in MBBS/BDS courses under 15% All India Quota. There shall also be a waiting list equal to 4 times of the merit list
                        <br>
                        Merit List for seats other than 15% All India Quota
                        <ol style="list-style-type: lower-alpha;">
                          <li> CBSE will provide All India Rank. Result will be given to the DGHS, Ministry of Health and Family welfare, Govt of India to provide the same to the Admitting Authorities.</li>
                          <li>Admitting Authorities will invite applications for Counselling and merit list shall be drawn based on All India Rank by the Admitting Authorities subject to their applicable rules.</li>
                        </ol>
                        Reservation of seats under 15% all India quota :
                        <br>
                        <ol style="list-style-type: lower-roman;">
                          <li>15% seats are reserved for SC candidates</li>
                          <li>7.5% seats are reserved for ST candidates</li>
                          <li>27% seats as per Central Act are reserved for non-creamy layer OBC candidates</li>
                        </ol>
                        Admission under State Quota Seats, Private medical colleges shall be subject to reservation policy and eligibility criteria prevailing in the State/Union Territory as notified by the respective State/Union Territory from time to time.
                        <br>
                        Admission to AFMC, Pune shall be subject to the norms prescribed by the Directorate General of Armed Forces Medical Services, Ministry of Defence and Government of India.
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                           aria-expanded="true" aria-controls="collapseFive">
                            Participating institutes
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel"
                     aria-labelledby="headingFive">
                    <div class="panel-body">
                    All Medical/Dental Colleges in India except the 7 AIIMS, JIPMER.
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Colleges</th>
                                    <th>No of Seats Offered</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>All private colleges</td>
                                    <td>25,840</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>All government colleges</td>
                                    <td>27,590</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>NEET Counselling seats</td>
                                    <td>3,521</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>NEET Basis seats</td>
                                    <td>35,461</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                           aria-expanded="true" aria-controls="collapseSix">
                            Important dates
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel"
                     aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Activity</th>
                                    <th>Date</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Schedule for on-line submission of  application forms</td>
                                    <td>31.01.2017   to   01.03.2017</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Last date for successful final transaction of fee</td>
                                    <td>01.03.2017</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Date of uploading of Admit-Cards on website</td>
                                    <td>15.04.2017</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Date of Examination,  NEET(UG) – 2017</a></td>
                                    <td>07.05.2017</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Declaration of Result</td>
                                    <td>23.06.2017</td>
                                </tr>
                            </table>
                        </div>
                        <h3>Sources</h3>
                        <ul style="list-style-type: none;">
                          <li><a href="https://cbseneet.nic.in/cbseneet/ShowPdf.aspx?Type=50C9E8D5FC98727B4BBC93CF5D64A68DB647F04F&ID=FE2EF495A1152561572949784C16BF23ABB28057" target="_blank">https://cbseneet.nic.in/cbseneet/ShowPdf.aspx?Type=50C9E8D5FC98727B4BBC93CF5D64A68DB647F04F&ID=FE2EF495A1152561572949784C16BF23ABB28057</li>
                          <li><a href="https://en.wikipedia.org/wiki/National_Eligibility_and_Entrance_Test" target="_blank">https://en.wikipedia.org/wiki/National_Eligibility_and_Entrance_Test
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{if flag==true}
<script type="text/javascript">
    $(document).ready(function(){
        $(".instPageNavigator").find(".active").removeClass("active");
        $(".instPageNavigator").find(".instExamTab").closest("li").addClass("active");
    })
</script>
#{/if}