<div class="pageHolderM" id="helpCenterHome">
	<div class="helpHomeMiddleBar">
		 <div class="title">&{'help.TITLE'}</div>
	</div>
	<div class="bodyWhiteBg">
		<table cellpadding=0 cellspacing=0 class="fullWidth helpHomeTable">
			<tr>
				<th>&{'help.PRODUCT_GUIDE'}</th>
				<th>&{'help.FREQUENTLY_ASKED_QUES'}</th>
			</tr>
			<tr>
				<td class="halfWidth helpHomeTopicsHolder">
					<div class="helpTopicTitle"></div>
				</td>	
				<td class="halfWidth helpHomeQuesHolder">
					<div class="helpQuestionTitle"></div>
				</td>	
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		helpCenter.home.init();
	});
</script>
