<table class="corsUploadProgressDiv nonner">
    <tr>
	<td class="corsUploadFileName" colspan=4></td>
    </tr>
    <tr>
	<td class="progressBarTd">
	    #{common.progressBar /}
	    <!--*{<div class="progressBar">
		<div class="progressDone"></div>
	    </div>}*-->
	</td>
	<td class="progressFinishedTd nonner">
		<div class="successRespUpload blueTextColor">&{'UPLOADED'}</div>	
		<div class="errorRespUpload redTextColor">
			<span>&{'UPLOAD_FAILED'}</span>
			<a class="retryCorsUpload">&{'TXT_RETRY'}</a>
		</div>	
	</td>
	<td class="right" style="padding-top:5px;">
		<a class="cancelCorsUpload nonner">&{'CANCEL'}</a>
	</td>
    </tr>
</table>
