<div class="topicCreationHold">
    <div class="topicCreationTitle" data-name="">
      <div class="animScroll">
	<div class="addSlpTopicName centerText animScrollItem">
		<a class="addSlpTopicLink slpText">&{'ADD_TOPIC'}</a>
	</div>
	<div class="addSlpTopicInput centerText animScrollItem">
		<input type="text" class="inputDiv" placeholder="Topic Title"/>
		<span class="greenButton addSlpTopicSubmit">&{'TXT_SUBMIT'}</span>
	</div>
	<div class="slpTopicName centerText animScrollItem">
		<span class="slpText slpTopicIndex"></span>
		<span class="slpText slpTopicTitle"></span>
	</div>
      </div>
    </div>
    <div class="subTopicCreationHold">
    	<div class="subTopicCreationTitle" data-entity="">
      	   <div class="animScroll">
		<div class="addSlpEntityName animScrollItem">
			<a class="slpAddContentLink slpText">&{'SLP_ADD_CONTENT'}</a>
			<span class="smallRedButton cancelSlpAddContentBtn nonner">&{'TXT_CANCEL'}</span>
		</div>
		*{<!--<div class="addSlpEntityInput animScrollItem">
			<input type="text" class="inputDiv" placeholder="Sub Topic Title"/>
			<span class="greenButton addSlpEntitySubmit">&{'TXT_SUBMIT'}</span>
		</div>-->}*
		<div class="slpEntityName animScrollItem">
			<span class="slpText slpEntityIndex boldy"></span>
			<span class="slpEntity singleLineText toolTipTitle"></span>
			<div class="right vChoose chooseSlpEntityRequirement mcvChoose hider" data-value=""
				data-onchange="onSlpEntityRequirement">
            			<div class="vChooseHead">Open</div>
            			<div class="vChooseDownIcon"></div>
            			<div class="vChooseDropDown" style="top: 28px;">
                		   <div class="vChooseOpt vChooseOptTicked" data-value="">Open</div>
                		   <div class="vChooseOpt vChooseOptTicked" data-value="VIEW">View required</div>
                		   <div class="vChooseOpt vChooseOptTicked" data-value="ATTEMPT">Attempt required</div>
            			</div>
        		</div>
		</div>
           </div>
        </div>
	<div class="subTopicCreationContent">
	</div>
    </div> 
</div>
