@(host:String)(orgId:String)(src:org.json.JSONObject)(text:String)

@defining(src.getString("type")) { srcType =>
   @defining(src.getString("id")) { srcId =>
   	@if(srcType == "STATUSFEED"){
		<a href="@host/organization/@orgId/feed/@srcId" 
			style="color:#4699CF;text-decoration:none;">
		    @if(text==null){
			<span> Post</span>
		    }else{
			<span>@text</span>
		    }
		</a>
	}else{
	   @if(srcType == "COMMENT"){
		@if(src.has("rootDetails")){
		    @if(text!=null){
			@getContentLink(host)(orgId)(src.getJSONObject("rootDetails"))(text)
		    }else{
			@if(src.getJSONObject("rootDetails").getString("type")=="DISCUSSION"){
				@getContentLink(host)(orgId)(src.getJSONObject("rootDetails"))("Answer")
			}else{
				@getContentLink(host)(orgId)(src.getJSONObject("rootDetails"))(srcType.toLowerCase())
			}
		    }
		}
	   }else{
		
		@if( src.getString("type") == "SOLUTION" ){
			<a href="@host/organization/@orgId/question/@src.getString("qId")"
                style="color:#4699CF;text-decoration:none;">
                                <span>question</span>
		</a>

		}else{	
		   @if( src.getString("type") == "CHALLENGE" ){
			<a href="@host/organization/@orgId/challenges/"
                		style="color:#4699CF;text-decoration:none;">
				@if(text!=null){
					<span>@text</span>
				}else{
			   	   @if(src.has("name")){ 
					<span>@src.getString("name")</span>
			   	   }
				}
			</a>
		   }else{
		   <a href="@host/organization/@orgId/@srcType.toLowerCase()/@srcId" 
			style="color:#4699CF;text-decoration:none;">
			@if(text!=null){
				<span>@text</span>
			}else{
			   @if(src.has("name")){ 
				<span>@src.getString("name")</span>
			   }else{
				@if(src.has("title")){
					<span>@src.getString("title")</span>
				}else{
					<span>@Messages("ENTITY_NAME_"+srcType.toUpperCase())</span>
				}
			   }
			}
		   </a>
		   }
		}
	   }
	}
    }
}
