<div class='widget CSWidget' id='whatsCookingWidget' data-widget="WHATS_COOKING">
    <div class='widgetHead centry' style="margin-bottom: 0">
        <img src="/public/images/questions/cooking.png" class="WCWImg"/>
        <span class="widgetHeadText">Whats Cooking ?</span>
    </div>
<!--    <div class="WCWWhity">
        <div class="boldy big14">Playlists</div>
        <div class="margTop" style="color: #999999">
            So you want to learn a concept: Imagine how

            awesome it would be if you had most relevant

            videos, questions, web-links, tests organised

            in the form of a <span class="blacky">Knowledge Playlist!</span>
        </div>
        <a class="floatRight WCWPLMoreInfo smally" data-cs-name="SHOW_PLAYLIST_INFO">Tell me more</a>
        <div class="cleaner_with_divider">&nbsp;</div>
    </div>-->
    <div class="WCWWhity">
        <div class="boldy big14">Document and Video Support</div>
        <div class="margTop" style="color: #999999">
            Access, Upload and Collaborate over e-books,

            notes, tutorials..Learn from educational Videos

            from best experts and universities across

            the world!
        </div>
        <a class="floatRight WCWDocVideoMoreInfo smally doCStream" data-name="SHOW_DOC_VIDEO_INFO">Tell me more</a>
        <div class="cleaner_with_divider">&nbsp;</div>
    </div>
</div>
