@(emailDetails:com.vedantu.eventbus.email.details.CommentEmailNotificationDetails)

@appDomain( emailDetails ) { host =>  

@defining(emailDetails.details.getJSONObject("src").getJSONObject("contentSrc").getString("id")) { orgId =>

	@defining(emailDetails.details.getJSONObject("src")) { src =>
			
		@defining(emailDetails.details.getJSONObject("actor")) { actor =>

				@userNewsDetails(host)(orgId)(actor)
				<span>
					@if( src.getString("type") != "COMMENT"){
						@if( src.getString( "type" ) == "DISCUSSION" ){
							<span>answered on</span>
						}else{
							<span>commented on</span>
						}
					} else {
						<span>replied to</span>
					}
				</span>
				@contentNewsDetails(host)(orgId)(src)
				<span> that </span>
				@ownerOrFollower(src)(emailDetails.details)
			}
	
			<div style="font-size: 14px; padding: 6px 2px;">
				View @getContentLink(host)(orgId)(src)(null)
			</div>	
	    }
	}
}
