@(accessCode: com.vedantu.user.event.details.AccessCodeDetails)
<div style="padding: 20px 0px;color:#666;">Thank you for choosing us as your digital companion!
<br><br>

Follow these steps to get access to your purchased program on your Tablet/ Mobile device using the SD Card.
<br>

1.Download our application from playstore.
<br>2.Sign up if you have not yet registered OR Login if already registered.
<br>3.Go to program list and click on the purchased program.
   <b>(Ignore the above 3 steps, if you have already installed)</b>
<br>4.Insert the SD card   
<br>5.Your Access code is <b>@accessCode.code</b>. Enter the Access Code in the pop-up window to join the program.
<br><br>

Here are your purchase details for reference:

<br>Seller Reference:@accessCode.sellerReferenceNo

<br>Point of Sale:@accessCode.pointOfSale
