@(emailDetails:com.vedantu.eventbus.email.details.VoteEmailNotificationDetails)

@appDomain( emailDetails ) { host =>  

@defining(emailDetails.details.getJSONObject("src").getJSONObject("contentSrc").getString("id")) { orgId =>

	@defining(emailDetails.details.getJSONObject("src")) { src =>
		<div>				
					
				@defining(emailDetails.details.getJSONObject("actor")) { actor =>
					@userNewsDetails(host)(orgId)(actor)
				}
				<span> upvoted the </span>
				@if(src.getString("type")=="COMMENT"){
					@if(src.getJSONObject("parentDetails").getString("type")=="DISCUSSION"){
						<span> answer </span>
					}else{
						<span> comment </span>
					}
					@ownerOrFollower(src)(emailDetails.details)
					<span> to </span>
					@contentNewsDetails(host)(orgId)(src.getJSONObject("rootDetails"))   
				}else{
					@contentNewsDetails(host)(orgId)(src)   
					@ownerOrFollower(src)(emailDetails.details)
				}
		</div>
		<div style="font-size: 14px; padding: 6px 2px;">
			View @getContentLink(host)(orgId)(src)(null)
		</div>	
	}
    }
}
