<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <meta charset="UTF-8">
  <title>Learnpedia-Online JEE NEET TEST PREP</title>
  <meta content="6evuu1E6HXaGGEKmjsHl4HPRYSgxIV724cov3mGdsnY" name="google-site-verification">
  <!-- <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}"> -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible"><!-- Mobile Specific Meta -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="b4da237bf31a63b6e672cbcccc131040" name="p:domain_verify">
  <meta content="IIT Jee online videos, IIT JEE cources, IIT JEE online, IIT Jee Institue in Hyderabad" name="keywords">
  <meta content="Learnpedia is a leading online portal for all IIT JEE online courses, it makes an easy approach for all the aspirants of IIT Jee to choose from the online classes and tutorials" name="description"><!-- Latest compiled JavaScript -->
  <link href="@{'/public/outerAssets/assets/css/bootstrap.min.css'}" rel="stylesheet">
  #{gaTrackingCode /}
  <!-- Material Jquery Template Css Files-->
  <!-- <link href="/public/innerAssets/theme1/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/public/images/favicons/manifest.json">
  <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg" color="#348c26">
  <meta name="theme-color" content="#ffffff">
  <link href="/public/assets/theme1/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/css/app_1.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/css/app_2.min.css" rel="stylesheet">
  <link href="/public/stylesheets/material_style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/exams.css">
</head>
<body>
  #{include 'theme1/Application/header.html' /}
  <section id="main">
    #{include 'theme1/Application/sidebar.html' /}
    #{include 'theme1/Institute/bitsat.html'/}
    #{include 'theme1/Application/footer.html' /}
  </section>
  <script src="/public/assets/theme1/vendors/bower_components/jquery/dist/jquery.min.js">
  </script>
  <script src="/public/assets/theme1/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <script src="/public/assets/theme1/vendors/bower_components/Waves/dist/waves.min.js">
  </script>
  <script src="/public/assets/theme1/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js">
  </script>
  <script src="/public/assets/theme1/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js">
  </script>
  <script src="/public/assets/theme1/js/app.min.js">
  </script>

  <!--LeadSquared Tracking Code Start-->
  <script type="text/javascript" src="https://web.mxradon.com/t/Tracker.js"></script>
  <script type="text/javascript">
    pidTracker('17140');
  </script>
<!--LeadSquared Tracking Code End-->
  <script type="text/javascript" src="/public/javascripts/dropdown-on-hover.js"></script>