<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learnpedia - Enjoy Learning</title>
  <meta name="google-site-verification" content="6DhL-KLdd2mI5o_YprF32lNPpE56x8ig7Yc1SKtlQ-4" />
  <meta content="6evuu1E6HXaGGEKmjsHl4HPRYSgxIV724cov3mGdsnY" name="google-site-verification">
  <meta content="IE=edge" http-equiv="X-UA-Compatible"><!-- Mobile Specific Meta -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="b4da237bf31a63b6e672cbcccc131040" name="p:domain_verify">
  <meta content="IIT Jee online videos, IIT JEE cources, IIT JEE online, IIT Jee Institue in Hyderabad" name="keywords">
  <meta content="Learnpedia is a leading online portal for all IIT JEE online courses, it makes an easy approach for all the aspirants of IIT Jee to choose from the online classes and tutorials" name="description">

  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/public/images/favicons/manifest.json">
  <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg" color="#348c26">
  <meta name="theme-color" content="#ffffff">
  <link href="@{'/public/outerAssets/assets/css/bootstrap.min.css'}" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/css/app_1.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/css/app_2.min.css" rel="stylesheet">
  <link href="@{'/public/stylesheets/material_style.css'}" rel="stylesheet">
  <link href="@{'/public/outerAssets/assets/css/index.css'}" rel="stylesheet">
  <link href="@{'/public/outerAssets/assets/css/institutes.css'}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  #{include 'theme1/Application/header.html' /}
  <section id="main">
    #{include 'theme1/Application/sidebar.html' /} 
    <section class="institutes">
      <div class="container">
        <div class="row launch-block">
          <div class=" col-md-5 col-md-offset-0 col-sm-offset-1 col-sm-5 left-block">
            <div class="launch-heading row">
              <span>Launch</span>
              <div>Your Own</div>
              <div>
                <span>Learning </span>
                <span>App</span>
              </div>
            </div>
            <div class="head-points row">
              <div class="col-xs-4 col-sm-3 header-feature" style="padding: 0px;">
                <span>
                  <img src="/public/outerAssets/images/institutes/courses.png">
                  <span class="header-feature-text">
                    Host
                    <br/>
                    Courses
                  </span>
                </span>
              </div>
              <div class="col-xs-4 col-sm-4 header-feature" style="padding: 0px;">
                <span>
                  <img src="/public/outerAssets/images/institutes/world.png">
                  <span class="header-feature-text">
                    Increase <br/> Market Reach
                  </span>
                </span>
              </div>
              <div class="col-xs-4 col-sm-4 header-feature" style="padding: 0px;">
                <span>
                  <img src="/public/outerAssets/images/institutes/money.png">
                  <span class="header-feature-text">
                    Earn <br/> More Revenue
                  </span>
                </span>
              </div>
              <div class="col-sm-1">

              </div>
            </div>
            <div class="row getInTouchRow">
              <a href="#contact-us-form">
                <button type="button"class="getInTouch btn waves-effect">GET IN TOUCH</button>
            </a>
            </div>
          </div>
          <div class="col-sm-7 hidden-sm" style="padding-right:0px;"> 
            <img class="img-responsive header-image"src="/public/outerAssets/images/institutes/instituteBanner.png">
          </div>
        </div>
      </div>
    </section>
    <!-- <section>
      <div class="container features-block">
        <div class="row feature-heading">
          Features
        </div>
        <div class="row">
          <div class="col-sm-4 tablet-image">

          </div>
          <div class="col-sm-8 features">

          </div>
        </div>
      </div>
    </section> -->
    <section id="about" style="margin-bottom: 40px;">
      <div class="container" style="max-width: 90%">
        <div class="row">
          <h2 class="heading c-green">Why Learnpedia?</h2>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-2" style="padding: 10px;margin-top: 20px;">
            <div class="card about-feature" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Learnpedia becomes your end-to-end technology partner. We take care of your need for
            multiple device support (web &amp; Android platforms, both online &amp; offline), version updates,regular new features and more." title="" data-original-title="       ">
              <img src="/public/outerAssets/images/institutes/tech.png" class="img-responsive m-auto">
              <div class="aboutContent text-center" style="margin-top: 10px;
                  font-size: 15px;" >No IT Investment</div>
          </div>
          </div>
          <div class="col-sm-2" style="padding: 10px;margin-top: 20px">
            <div class="card about-feature" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Students from across the world can download your app, view, engage,  and learn relevant & structured content. You also get invaluable usage analytics." title="" data-original-title="       ">
              <img src="/public/outerAssets/images/institutes/globe.png" class="img-responsive m-auto" style="top: 8px;
              position: relative;">
              <div class="aboutContent text-center" style="margin-top: 10px;
              font-size: 15px;">Increase your<br>Reach</div>
            </div>
          </div>
          <div class="col-sm-2" style="padding: 10px;margin-top: 20px">
            <div class="card about-feature" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Monetise your brand and content by selling courses through your mobile/web app." title="" data-original-title="       ">
              <img src="/public/outerAssets/images/institutes/cost.png" class="img-responsive m-auto" style="top:6px;position: relative;">
              <div class="aboutContent text-center" style="margin-top: 10px;
              font-size: 15px;">Monetize &<br> Sell more</div>
            </div>
          </div>
          <div class="col-sm-2" style="padding: 10px;margin-top: 20px">
            <div class="card about-feature" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Differentiate yourself by excelling in technology and creating a niche. Become a benchmark for others to follow." title="" data-original-title="       ">
              <img src="/public/outerAssets/images/institutes/location.png" class="img-responsive m-auto" style="top: 7px;position: relative;">
              <div class="aboutContent text-center" style="margin-top: 10px;
              font-size: 15px;">Position yourself as <br> Next Gen Brand</div>
            </div>
          </div>
          <div class="col-sm-2" style="padding: 10px;margin-top: 20px">
            <div class="card about-feature" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Get your own vigorously tested app with high standards of quality with minimal onetime, lifetime setup fee in a day's time." title="" data-original-title="       ">
              <img src="/public/outerAssets/images/institutes/minimalcost.png" style="top:6px;position: relative;" class="img-responsive m-auto">
              <div class="aboutContent text-center" style="margin-top: 10px;
              font-size: 15px;">Minimal Cost</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="appFeatures" style="margin-bottom: 40px;">
       <div class="container" style="max-width: 90%">
            <div class="row">
              <div class="col-sm-4">
                    <h3>Create Content</h3>
                    <ul>
                      <li>Upload PDFs, E-Books, Videos, Tests etc. </li>
                      <li>Create sub-heads and list content in sequence.</li>
                      <li>Create quiz based to assess students learning.</li>
                    </ul>
                    <!-- <p>- Upload PDFs, E-Books, Videos, Tests etc. <br>
                      - Create sub-heads and list content in sequence.<br>
                    </p> -->
                </div>
                <div class="col-sm-4">
                    <h3>Analytics</h3>
                    <ul>
                      <li>Get instant analytics on tests and usage.</li>
                      <li>Track individual progress & increase engagement.</li>
                      <li>Remotely monitor application usage.</li>
                    </ul>
                    <!-- <p>- Get instant analytics on tests and usage.<br>
                      - Track individual progress & increase engagement.<br>
                      - Remotely monitor application usage.<br>
                    </p> -->
                </div>
                <div class="col-sm-4">
                    <h3>Manage Resources</h3>
                    <ul>
                      <li>Set rules to lead students on a desired learning path.</li>
                      <li>Set quiz based on checkpoints to assess his learning.</li>
                      <li>Share/tag content in a controlled way to students.</li>
                    </ul>
                    <!-- <p>- Set rules to lead student through a desired learning path.<br>
                      - Set quiz based on checkpoints to assess his learning.<br>
                      - Share/tag content in a controlled way to students.<br>
                    </p> -->
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                    <h3>Test Generator</h3>
                    <ul>
                      <li>Choose Test conditions, structure.</li>
                      <li>Choose Difficulty level, marking scheme.</li>
                      <li>Auto generate a test within minutes.</li>
                    </ul>
                    <!-- <p>- Auto generation of a test within 5 minutes.<br>
                      - 1500 pre-created tests.<br>
                      - Use the exhaustive question bank.<br>
                    </p> -->
                </div>
                <div class="col-sm-4">
                    <h3>Doubts Forum</h3>
                    <ul>
                      <li>Identify critical topic for discussions.</li>
                      <li>View/answer doubts asked by students.</li>
                      <li>Enable Peer to peer learning.</li>
                    </ul>
                    <!-- <p>- Identify critical topic for discussions.<br>
                      - View/answer doubts asked by students.<br>
                      - Enable Peer to peer learning.<br>
                    </p> -->
                </div>
                <div class="col-sm-4">
                    <h3>Content Support</h3>
                    <ul>
                      <li>Content support as a Value-added Service.</li>
                      <li>Over 1200 hours of video content.</li>
                      <li>Over 2000 tests, 8000 pages of e-books.</li>
                    </ul>
                    <!-- <p>- Learnpedia’s Flagship Video lecture program <br>
                      - 900+ hours of content<br>
                      - View videos online/offline<br>
                    </p> -->
                </div>
            </div>
       </div>
   </section>
    <hr style="width: 100%;border: 1px solid #f1f1f1;margin:0px;padding: 0px;">
    <section id="usage" style="margin-top: 20px;margin-bottom: 40px;" >
       <div class="container" style="max-width: 90%">
        <div class="row" style="margin-bottom: 20px;">
            <div class="heading" style="color:#3b3940;">Benefits of your own mobile/web app</div>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-top: 2%;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="cardUsage">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="/public/outerAssets/images/institutes/market-new.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Create Marketplace of Your Courses
                                    </h4>
                                    <ul>
                                      <li>Sell courses from your own mobile app</li>
                                      <li>Increase revenues & visibility</li>
                                      <li>Admin tool to create & manage courses</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"><div class="cardUsage">
                        <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="/public/outerAssets/images/institutes/graduationcap.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Run Distance Learning Programs
                                    </h4>
                                    <ul>
                                      <li>Increase your reach</li>
                                      <li>Interact with your distance program students</li>
                                      <li>Students get real time tests & feedbacks on their mobiles</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6"><div class="cardUsage">
                        <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="/public/outerAssets/images/institutes/testseries.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Run Test & Test Series on Mobile
                                    </h4>
                                    <ul>
                                      <li> Make/sell your own tests</li>
                                      <li>Use diagnostic tests to understand user base </li>
                                      <li>Let users understand their learning curve with analytics</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"><div class="cardUsage">
                        <div class="media">
                                <div class="pull-left">
                                    <img class="media-object" src="/public/outerAssets/images/institutes/techsupport.png" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Enable 24x7 Collaboration
                                    </h4>
                                    <ul>
                                      <li>Track individual progress & increase engagement</li>
                                      <li>Doubts forum to increase peer to peer collaboration</li>
                                      <li>Get higher student engagement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs" style="margin-top: -40px;">
                <div class="middleSliderSec">
                    <div class="bgImageHolder">
                    </div>
                    <div class="middleSliderHolder">
                    %{
                        noOfSlides = 3;
                    }%
                        <table class="sliderTable">
                             <tr>
                               <td class="alignTop">
                                <div class="slide-dots">
                                    <span class="slide-dot active" data-slide="1"></span>
                                    <span class="slide-dot" data-slide="2"></span>
                                    <span class="slide-dot" data-slide="3"></span>
                                </div>
                                <div class="slideImgsHolder">
                                 <div id="slideTabletHolder" class="sliderSprite">
                                    <div id="slideTabletContainer">
                                     <table cellspacing=0 cellpadding=0 id="slideTabletTable" class="relative">
                                        <tr>
                                        #{list items:1..noOfSlides,as:'sIndex'}
                                        <td id="slide-tablet-${sIndex}" class="siteSlideTabletTD alignTop">
                                         <div class="sliderSprite" id="siteSlideTablet${sIndex}"></div>
                                         </td>
                                         #{/list}
                                        </tr>
                                    </table>
                                    </div>
                                </div>
                                <div id="slideMobileHolder" class="sliderSprite">
                                    <div id="slideMobileContainer">
                                        <table cellspacing=0 cellpadding=0 id="slideMobileTable" class="relative">
                                            <tr>
                                            #{list items:1..noOfSlides,as:'sIndex'}
                                            <td id="slide-mobile-${sIndex}" class="siteSlideMobileTD alignTop">
                                             <div class="sliderSprite" id="siteSlideMobile${sIndex}"></div>
                                            </td>
                                             #{/list}
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
   </section>
<section id="metrics" style="background: #62b23b;padding: 40px;">
  <div class="container">
    <div class="row">
      <div class="heading c-white">
        Results that impact
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3" style="text-align: center;">
        <div class="metric">
          <div class="metric-count">
            <span class="count numscroller" data-min="0" data-max="120" data-delay="2" data-increment="1">120</span>+
          </div>
          <div class="metric-heading">
            Organizations
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="metric">
          <div class="metric-count">
            <span class="count numscroller" data-min="0" data-max="140" data-delay="2" data-increment="1">140</span>K+
          </div>
          <div class="metric-heading">
            Total Students
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="metric">
          <div class="metric-count">
            <span class="count numscroller" data-min="0" data-max="16" data-delay="2" data-increment="1">16</span>K+
          </div>
          <div class="metric-heading">
            Total Test Created
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="metric">
          <div class="metric-count">
            <span class="count numscroller" data-min="0" data-max="10000" data-delay="2" data-increment="25">10000</span>K+
          </div>
          <div class="metric-heading">
            Minutes of Content Consumed
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="metric">
          <div class="metric-count">
            <span class="count numscroller" data-min="0" data-max="150" data-delay="5" data-increment="3">150</span> Crores
          </div>
          <div class="metric-heading">
            Revenue Generated
          </div>
        </div>
    </div> -->
  </div>
</section>
<section id="marketing" style="padding: 40px;">
  <div class="container">
    <div class="row">
      <div class="heading c-green">
        Marketing
      </div>
    </div>
    <div class="row heading subHeading" style="color: #3b3940;font-size: 30px;">
      Reach Out To Your Students Using Right Channel
    </div>
    <div class="row heading f-16 subsubHeading" style="color: #8b8a8b;">
      Engage, Retain and Convert your students using powerful tools built for eLearning
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail marketing">
          <img src="/public/outerAssets/images/institutes/email.png" alt="Email">
          <div class="caption" style="text-align: center;">
            <h4 style="font-weight: bold;">E-MAIL MARKETING</h4>
            <p>Create marketing campaigns with existing Gmail  id or G-suite integrated mails.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail marketing">
          <img src="/public/outerAssets/images/institutes/notification.png" alt="NOTIFICATION">
          <div class="caption" style="text-align: center;">
            <h4 style="font-weight: bold;">PUSH NOTIFICATION</h4>
            <p>Make innovative app campaigns with text & image on-click notification.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail marketing">
          <img src="/public/outerAssets/images/institutes/sms.png" alt="SMS">
          <div class="caption" style="text-align: center;">
            <h4 style="font-weight: bold;">SMS MARKETING</h4>
            <p>Build an SMS campaign for your prospects with our SMS integration feature.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <hr style="width: 100%;border: 1px solid #f1f1f1;margin:0px;">
<section id="testimonials" style="margin-bottom: 40px;margin-top: 20px;" >
     <div class="container" style="max-width: 90%">
      <div class="row" style="margin-bottom: 20px;">
          <div class="heading c-green">Success Stories</div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="">
            <img src="/public/outerAssets/images/institutes/unknown.png" class="img-responsive m-auto ">
            <div class="testimonialContent" style="margin-top: 20px;margin-left: 10px;">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptatum tempore, aliquam ullam aliquid qui necessitatibus doloribus praesentium deserunt adipisci nam vero inventore assumenda magnam iure iste modi vel architecto?
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="">
            <img src="/public/outerAssets/images/institutes/unknown.png" class="img-responsive m-auto ">
            <div class="testimonialContent" style="margin-top: 20px;margin-left: 10px;">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet in quam sequi molestias, facilis laboriosam commodi culpa voluptate facere laborum, cum, veniam perferendis modi obcaecati minus nostrum! Laudantium, ducimus beatae.
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="">
            <img src="/public/outerAssets/images/institutes/unknown.png" class="img-responsive m-auto ">
            <div class="testimonialContent" style="margin-top: 20px;margin-left: 10px;">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cum nam, eos excepturi aut, nobis accusamus aperiam saepe laboriosam modi eius ratione quidem quod animi corporis numquam hic itaque fuga!
              </blockquote>
            </div>
          </div>
        </div>
      </div>
</section> -->
<hr style="width: 100%;border: 1px solid #f1f1f1;margin:0px;">
<section id="contact-us-form">
  <div class="container">
    <div class="row" style="margin-bottom: 20px;">
      <h2 class="heading c-green">Get In Touch</h2>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="card" style="max-width: 420px;height: 500px;">
          <div class="card-header" style="background-color: #62b23b;">
            <h2 class="c-white" style="font-size: 30px;">
              Contact Us
              <small class="c-white">To transform your student's learning experience.</small>
            </h2>
          </div>
          <div class="card-body" style="margin-top: 25px;">
            <div class="input-group  m-b-20">
              <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
              <div class="fg-line" id="name-group">
                <input id="full-name" type="text" class="form-control" placeholder="Full Name" required="">
                <span class="zmdi form-control-feedback" id="name-dialog" style="display: none;"></span> <small class="help-block" id="name-help"></small>
              </div>
            </div>

            <div class="input-group m-b-20">
              <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
              <div class="fg-line" id="email-group">
                <input class="form-control" id="email" name='email' placeholder="Enter your email" required="" type="email"> <!-- <div class="signupErrorDiv" style="color: red;"></div> -->
                <span class="zmdi form-control-feedback" id="email-dialog" style="display: none;"></span> <small class="help-block" id="email-help"></small>
              </div>
            </div>
            <div class="input-group  m-b-20">
              <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
              <div class="fg-line" id="number-group">
                <input id="number" type="text" class="form-control" placeholder="Mobile Number *" required="" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                <span class="zmdi form-control-feedback" id="number-dialog" style="display: none;"></span> <small class="help-block" id="number-help"></small>
              </div>
            </div>
            <div class="input-group m-b-20">
              <span class="input-group-addon"><i class="zmdi zmdi-assignment-o"></i></span>
              <div class="fg-line" id="message-group">
                <textarea class="form-control auto-size" id="message" name='message' required="true"
                placeholder="Your Query.."></textarea>
                <span class="zmdi form-control-feedback" id="message-dialog" style="display: none;"></span> <small class="help-block" id="message-help"></small>
              </div>
            </div>
            <div class="submit-btn">
              <button class="btn waves-effect" style="min-width: 200px;background-color: #31A342;color: white;background:#62b23b;" type="submit">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-offset-1 hidden-xs hidden-sm hidden-md nonner">
        <div class="card" style="padding-bottom: 0px;max-width: 420px;height: 500px;">
          <div class="card-header">
            <h2>Contact Information</h2>
          </div>
          <div class="card-body card-padding">
            <div class="pmo-contact">        
              <ul>
                <li><i class="zmdi zmdi-phone"></i> +91 8099777711</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer Section    -->
#{include 'theme1/Application/footer.html' /}
</section>
</body>
<script src="/public/assets/theme1/vendors/bower_components/jquery/dist/jquery.min.js">
</script>
<script src="/public/assets/theme1/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js">
</script>
<script src="/public/assets/theme1/vendors/bower_components/Waves/dist/waves.min.js">
</script> 
<script src="/public/assets/theme1/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js">

</script>
<script src="/public/assets/theme1/vendors/bower_components/autosize/dist/autosize.min.js"></script>
<script src="/public/assets/theme1/js/app.min.js">
</script>
<script src="/public/assets/theme1/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
<script type="text/javascript">
  $("#contact-us-form").on("click",".submit-btn",validation);
  function validation(){
    var name = $("#full-name");
    var email = $("#email");
    var number = $("#number");
    var message = $("#message");
    var validate = true;
    if(name.val()=="" || name.val() == null){
      $("#name-group").addClass("has-error");
      $("#name-dialog").addClass("zmdi-alert-triangle");
      $("#name-dialog").css("display","inline-block");
      $("#name-help").html("Please Enter Something!");
      validate = false;
    }
    else{
      $("#name-group").removeClass("has-error");
      $("#name-dialog").removeClass("zmdi-alert-triangle");
      $("#name-dialog").css("display","none");
      $("#name-help").css("display","none");
    }
    if(email.val()=="" || email.val() == null || validateEmail(email.val())===false){
      $("#email-group").addClass("has-error");
      $("#email-dialog").addClass("zmdi-alert-triangle");
      $("#email-dialog").css("display","inline-block");
      $("#email-help").html("Please Enter Correct Email!");
      validate = false;
    }
    else
    {
      $("#email-group").removeClass("has-error");
      $("#email-dialog").removeClass("zmdi-alert-triangle");
      $("#email-dialog").css("display","none");
      $("#email-help").css("display","none");
    }

    if(number.val()=="" || number.val() == null){
      $("#number-group").addClass("has-error");
      $("#number-dialog").addClass("zmdi-alert-triangle");
      $("#number-dialog").css("display","inline-block");
      $("#number-help").html("Please Enter Something!");
      validate = false;
    }
    else{
      $("#number-group").removeClass("has-error");
      $("#number-dialog").removeClass("zmdi-alert-triangle");
      $("#number-dialog").css("display","none");
      $("#number-help").css("display","none");
    }

    if(message.val()=="" || message.val() == null){
      $("#message-group").addClass("has-error");
      $("#message-dialog").addClass("zmdi-alert-triangle");
      $("#message-dialog").css("display","inline-block");
      $("#message-help").html("Please Enter Something!");
      validate = false;
    }
    else{
      $("#message-group").removeClass("has-error");
      $("#message-dialog").removeClass("zmdi-alert-triangle");
      $("#message-dialog").css("display","none");
      $("#message-help").css("display","none");
    }


    if(validate){
     var params = {
      "name" : name.val(),
      "email" : email.val(),
      "message" : message.val(),
      "number" : number.val(),
      "fromForm" : "INSTITUTES"
    };
    $.post("Application/sendEmail", params,function(result){
      result = JSON.parse(result);
      if(result.result == null){
        swal({
          title: "Something went wrong",
          type: "error"
        });
        return;
      }
      if(result.result.success === true){
        swal({
          title: "Message Sent",
          type: "success"
        });
        $("#full-name").val("");
        $("#email").val("");
        $("#number").val("");
        $("#message").val("");
      }else{
        swal({
          title: "Message Not Sent",
          type: "error"
        });
      }
    });
  }
}

function validateEmail(sEmail) {

  var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
  if (filter.test(sEmail)) {
    return true;
  }
  else {
    return false;
  }
}
</script>
<script type="text/javascript" src="/public/javascripts/dropdown-on-hover.js"></script>
<script type="text/javascript" src="/public/outerAssets/assets/js/lpslider.js"></script>
<script src="/public/outerAssets/assets/js/jquery-numscroller.js" type="text/javascript"></script>
</html>