<div class="pageHolderM">
   <div class="dataHolder big16" style="max-width:120px;max-height:20px;">
		<a class="doCStream ptrTag" name="DISCUSSION_LINK" data-diss-id="509bd301a318f20c38041fe2" style="display:inline-block;">
		<div class="RTEEqn" contenteditable="false">
  \[\frac{1}{2}\ln{2 +&nbsp;\frac{1}{{2}^{2}}\ln{{2}^{2}}+&nbsp;\frac{1}{{2}^{3}}\ln{{2}^{3}&nbsp;+ ... +&nbsp;\frac{1}{{2}^{m}}\ln{{2}^{m}&nbsp;+ ...}}}\] 
		</div>
		</a>
   </div>
</div>
<script>
	$(function(){
		MathJax.Hub.Queue(["Typeset",MathJax.Hub],$(".dataHolder").get(0),function(){
			$(".dataHolder").useScrollBar(null,{vertical:true,horizontal:true});
		});
	});	
</script>
