<div id="qrSaleDetailsPage">
   <div class="pageHolderNM">
    <table class="qrSaleDetailsTable" cellspacing=0 cellpadding=0 border=1>
       <tr class="qrSakeDetailsTableHead">
        <th class="width100">Payment Type</th>
        <th class="width75">Amount</th>
        <th class="width75">Cheque Number</th>
        <th class="width75">Bank Name</th>
        <th class="width40">Payable Date</th>
        <th class="width75">Is Recieved</th>
        <th class="width75">Reference</th>
       </tr>
    </table>
   </div>
</div>
