#{set title:'Connect with Facebook' /}
<div class="SUConnectWithFB">
    <div class="SUProcessHead">Will help us provide you with better suggestions</div>
    <span id="connectWithFB">
        <span><img alt="f" src="/public/images/fbConnect.png"></span>
        <label>Connect with Facebook</label>
    </span>
    <ul class="fbConnectDetails">
        <li>-will allow Learnpedia to fetch your profile related data</li>
        <li style="margin-left: -25px;">-will allow Learnpedia to fetch your display picture</li>
        <li>-will allow Learnpedia to track your social connections</li>
    </ul>
    <div class="margTop20">
        <span class="SUSmallBtn blackCancelButton" id="skipFBConnect">Skip</span>
    </div>
</div>