#{extends 'uicomRegisterHead.html'/}
#{set title:'Email Verification' /}
<div class="centry changePasswordHolder">
    <input type="hidden" id="emailForVerify" value="${email}">
    #{if resp.errorCode=='INVALID_VERIFICATION_KEY'}
        <div class="userMessage">Your email verification key is invalid, <a id="resendEmailVerificationLink">click here</a> to resend verification key</div>
    #{/if}
    #{elseif resp.errorCode=='USER_NOT_FOUND'}
        <div class="userMessage">You have not signed up to Vedantu.com yet!</div>
    #{/elseif}
    #{elseif resp.errorCode=='ALREADY_VERIFIED'}
        <div class="userMessage">Your email has already been verified, <a href="/register/index">click here</a> to login</div>
    #{/elseif}
</div>
