<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <script type="text/javascript">
            var redirectUrl="${redirectUrl.raw()}";
                if(redirectUrl=="")redirectUrl="/login";
                window.top.location=redirectUrl;
        </script>
        <noscript>
            <meta HTTP-EQUIV="REFRESH" content='0; url=${redirectUrl==""?"/login":redirectUrl}'>
        </noscript>
    </head>
    <body>
        <h3>Redirecting..</h3>
    </body>
</html>
