#{extends 'uicomRegisterHead.html'/}
#{set title:'Create Password' /}
<div class="loginPageWrapper">
		<div class="passwordContent">
            		<div class="regFormTxt">&{'login.CREATE_PASSWORD'}</div>
	    		<div class="regInputBoxHolder">
				<input type="password" id="createPassword" placeholder="Password" name="cPassword"/>
			</div>
	    		<div class="regInputBoxHolder">
				<input type="password" id="verifyPassword" placeholder="Verify Password" name="vPassword"/>
			</div>
			<input type="hidden" id="cEmailVerificationKey" name="emailVerificationKey" 
				value="${params.emailVerificationKey}"/>
			<input type="hidden" id="cEmail" name="email" value="${params.email}"/>
	    		<div class="regSubmitHolder">
				<span class="createButton">Enter</span>
				<span class="right"><span class="accountInfo">You are signing in from:</span><b>${email}</b></span>
			</div>
		</div>
		<div class="errorWrapper">
			<span class="blankError">Password cannot be blank</span>
			<span class="mismatchError">Password mismatch</span>
			<span class="lengthError">Password must be minimum of 8 characters</span>
			<span class="commonMsg">Please try again or <a>contact us</a></span>
		</div>
</div>
