<div id="pageNotFound" style="background-color: #f4f4f4;height: 100%;width: 100%;position: absolute;
     font-size: 13px;word-spacing: 2px;font-family: arial;">
    <div style="padding-top: 30px;position: absolute;text-align: center;width: 100%;top:30px;">
        <img src="/public/images/vedantu.png" alt="Vedantu" />
        <img src="/public/images/knowledge.png" alt="Making Knowledge Democratized" 
             style="margin-left: 15px;position: relative;top: 10px;" />
    </div>
    <div style="position: absolute;width: 100%;text-align: center;top:150px;">
        #{doLayout /}
    </div>    
</div>
