<div class="testSeriesSuggestion nonner">
	<div class="centerText redTextColor big16 boldy">Oops, Unable to view tests!</div>
	<p class="big14 centerText" style="color:#666">
		Well, you may not have subscribed to the Test Series at Lakshya. </br>
		To subscribe, visit Lakshya Front Desk.
		<div class="greenTextColor big16 centerText">Get yourself enrolled today!</div>
	</p>
	<div style="padding:25px 0;">
	   <ul class="big13 showBullet" style="padding:10px;color:#666;">
		<span class="big14 boldy">Lakshya Test Series comprises of :</span>
		<li class="italics"> 5 Tests accessible only in Lab at Lakshya</li>
		<li class="italics"> 5 Tests accessible from your Home</li>
	   </ul>
	</div>
	<img src="/public/images/test/test_series_screen.jpg" alt="" 
		style="box-shadow:2px 3px 10px 0px #999;margin:0 22px;"/>
</div>
