#{extends 'header.html' /}
<style type="text/css">    
    .buttonsDiv div{
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>
<div class="buttonsDiv">
    <div class="smallRedButton">Button</div>
    <div class="redButton">Button</div>
    <div class="bigRedButton">Button</div>
    <div class="biggerRedButton">Button</div>
    
    
    <div class="cleaner_with_divider">&nbsp;</div>
    
    
    
    <div class="smallBlueButton">Button</div>
    <div class="blueButton">Button</div>
    <div class="bigBlueButton">Button</div>
    <div class="biggerBlueButton">Button</div>
    
    
    <div class="cleaner_with_divider">&nbsp;</div>
    
    
    <div class="smallGreenButton">Button</div>
    <div class="greenButton">Button</div>
    <div class="bigGreenButton">Button</div>
    <div class="biggerGreenButton">Button</div>
    
    
    <div class="cleaner_with_divider">&nbsp;</div>
    
    
    
    <div class="smallGrayButton">Button</div>
    <div class="grayButton">Button</div>
    <div class="bigGrayButton">Button</div>
    <div class="biggerGrayButton">Button</div>
    
    
    <div class="cleaner_with_divider">&nbsp;</div>
    
    
    <div class="smallWhiteButton">Button</div>
    <div class="whiteButton">Button</div>
    <div class="bigWhiteButton">Button</div>
    <div class="biggerWhiteButton">Button</div>
    
    
    <div class="cleaner_with_divider">&nbsp;</div>  
    
    
    <div class="smallDarkGrayButton">Button</div>
    <div class="darkGrayButton">Button</div>
    <div class="bigDarkGrayButton">Button</div>
    <div class="biggerDarkGrayButton">Button</div>    
</div>
