    <div class="inputDiv cmdsTopSearchBoxDiv">
        <input type="text" class="cmdsTopSearchBox" placeholder="Search for Content"/>
    </div>                
    <div class="vChoose topBarvChoose" data-value="DOCUMENT">
      <div class="vChooseHead">Documents</div>
      <div class="vChooseDownIcon"></div>
      <div class="vChooseDropDown">
          <div class="vChooseOpt" data-value="DOCUMENT">Documents</div>
          <div class="vChooseOpt" data-value="QUESTION">Questions</div>
          <div class="vChooseOpt" data-value="VIDEO">Videos</div>                      
          <div class="vChooseOpt" data-value="TEST">Tests</div>
          <div class="vChooseOpt" data-value="ASSIGNMENT">Assignments</div>
          <div class="vChooseOpt" data-value="TEST_SERIES">Test Series</div>
          <div class="vChooseOpt" data-value="CHALLENGE">Challenges</div>
      </div>
    </div>  