%{
    target=_target;
}%
<div class="acadStrCreateDiv acadStrCreateDiv_${target}" data-target="${target}">
    <div class="addDeptDiv addAcadStrItemDiv nonner">
        <div class="inputDiv">
            <input type="text" class="addAcadStrItem" />
        </div>
        <div class="rightText margHalfTop">
            <div class="gBlueButton margRight5 acadStrCreateSubmit">Submit</div>
            <div class="gButton cancelAcadStrCreate">Cancel</div>
        </div>
    </div>   
    <div class="gButton margTop acadStrCreate">+ Add New</div>
</div>  