<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learnpedia-Online JEE NEET TEST PREP</title>
  <meta name="google-site-verification" content="6DhL-KLdd2mI5o_YprF32lNPpE56x8ig7Yc1SKtlQ-4" />
  <meta content="6evuu1E6HXaGGEKmjsHl4HPRYSgxIV724cov3mGdsnY" name="google-site-verification">
  <meta content="IE=edge" http-equiv="X-UA-Compatible"><!-- Mobile Specific Meta -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="b4da237bf31a63b6e672cbcccc131040" name="p:domain_verify">
  <meta content="IIT Jee online videos, IIT JEE cources, IIT JEE online, IIT Jee Institue in Hyderabad" name="keywords">
  <meta content="Learnpedia is a leading online portal for all IIT JEE online courses, it makes an easy approach for all the aspirants of IIT Jee to choose from the online classes and tutorials" name="description">

  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/public/images/favicons/manifest.json">
  <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg" color="#348c26">
  <meta name="theme-color" content="#ffffff">
  <link href="@{'/public/outerAssets/assets/css/bootstrap.min.css'}" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/css/app_1.min.css" rel="stylesheet">
  <link href="/public/assets/theme1/css/app_2.min.css" rel="stylesheet">
  <link href="@{'/public/stylesheets/material_style.css'}" rel="stylesheet">
  <link href="/public/outerAssets/assets/css/aboutUs.css" rel="stylesheet">
</head>

<body>
  #{include 'theme1/Application/header.html' /}
  <section id="main">

    #{include 'theme1/Application/sidebar.html' /}

    <section class="about" >
      <div class="container">
        <div class="row about-heading">
          <div class="text-center about-heading">About Us</div>
        </div>
        <div class="row">
          <div class="text-center about-description">Learnpedia is an edu-tech company that promises to make learning a fun and fascinating experience for students preparing to write various competitive exams. Its flagship products ScoreJEE & ScoreNEET are already redefining preparation for JEE & NEET.Headquartered in Hyderabad, Learnpedia is promoted by seasoned academicians with deep rooted understanding of the test-prep industry and a compelling passion to nurture next-gen talent. It aims to bridge all the gaps in traditional competitive exam preparation by providing engaging and interactive digital content.</div>
        </div>
      </div>
    </section>

    <section class="vision">
      <div class="container">
        <div class="row">
          <div class="heading text-center">
            Vision
          </div>
          <div class="description">
            "To be a leader in providing Tech enabled futuristic educational solutions to maximise student potential and build successful careers"
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" >
     <div class="container" id="team-info">
      <div class="row" style="padding: 20px;">
        <div class="text-center c-white heading">
          Meet The Team
        </div>
        <div class="description">
          Learnpedia is led by a team of spirited young professionals who firmly believe that education, driven via technology, will bring about the next wave of growth in the country.
        </div>
      </div>
      <div class="row">
       <div class="col-lg-12 text-center">
       </div>
     </div>
     <div class="row">
       <div class="col-md-6 col-sm-6 portfolio-item">
        <div class="portfolio-link">
         <div class="portfolio-hover ">
          <div class="portfolio-hover-content" style="top:25%;">
           University of Oxford – Said alumnus with 18+ yrs experience in education sector with companies such as IMS and Career Launcher. A serial entrepreneur with domain expertise in test-prep market and he loves building brands & teams.
           <div id="social" style="" class="align-text-bottom">
            <center>
             <a href="http://in.linkedin.com/in/krish77" target="_blank"><i class="zmdi zmdi-linkedin-box"></i></a>
           </center>
         </div>
       </div>
     </div>
     <img src="/public/outerAssets/images/team/team-43.jpg" class="img-responsive" alt="">
   </div>
   <div class="portfolio-caption">
     <h4 style="color:white;font-weight: normal;">Krishna Rao Akula</h4>
     <p class="text-muted" style="color:white;">Founder &amp; CEO</p>
   </div>
 </div>
 <div class="col-md-6 col-sm-6 portfolio-item ">
  <div class="portfolio-caption">
   <h4 style="color:white;font-weight: normal;">Deepak Bunde</h4>
   <p class="text-muted" style="color:white;">Co-Founder &amp; COO</p>
 </div>
 <div class="portfolio-link">
  <div class="portfolio-hover">
    <div class="portfolio-hover-content" style="top:25%;">
     <center>
      <a href="https://www.linkedin.com/in/deepakbunde" target="_blank"><i class="zmdi zmdi-linkedin-box"></i></a>
    </center>
    IIM Indore alumnus with 7+ years of experience in building and leading young teams. He is adept at scaling businesses and with domain expertise in the non-formal digital education, he is keen on making Learnpedia a household name!
  </div>
</div>
<img src="/public/outerAssets/images/team/team-42-42.jpg" class="img-responsive" alt="">
</div>
</div>
</div>
</div>
</section> 


<section class="advisors" id="portfolio-page">
  <div class="container">
    <div class="row">
      <div class="text-center heading">Our Advisors</div>
      <div class="advisors-description">
        Veterans with diverse experience across industries guide us with their valuable insights and aid us in maximizing our potential.
      </div>
    </div>
    <div class="row advisor-block">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img class="img-responsive img-circle avatar-img img-advisor" style="" src="/public/outerAssets/images/team/nikhilj.jpg">
              </div>
              <div class="col-sm-8">
                <div class="advisor-name">
                  Nikhil Jaipurkar
                </div>
                <div class="advisor-content">
                  Nikhil Jaipurkar is an Entrepreneur with 14 years of startup work experience post his MBA from IIM Ahmedabad. He has worked across sectors such as education, retail, manufacturing, finance & renewable energy. 
                  <br><br>
                  Nikhil is advising Learnpedia in creating engaging promotional video content across social media with an intention to drive the B2C business.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row advisor-block">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img class="img-responsive img-circle avatar-img img-advisor" src="/public/outerAssets/images/team/Arthur.png">
              </div>
              <div class="col-sm-8">
                <div class="advisor-name" >
                  Arthur Bovsky
                </div>
                <div class="advisor-content">
                  Arthur is a world-class marketer and business veteran from U.S. with over three decades of experience. He is the founder and CEO of several successful U.S. and Canadian companies in the health products industry. Simultaneously, he is now helping Learnpedia to adapt many of the proven-successful U.S. marketing ideas and techniques to the Indian market.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row advisor-block">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img class="img-responsive img-circle avatar-img img-advisor" src="/public/outerAssets/images/team/yousuf.jpg">
              </div>
              <div class="col-sm-8">
                <div class="advisor-name">
                  Mohammed Yousuf
                </div>
                <div class="advisor-content">
                  Yousuf is an entrepreneur with over two decades of progressive experience in IT. He has worked with many premier engineering colleges and MNCs across India in bridging the gap between industry and academics. He recognises the potential of technology in improving education in India and is passionate about playing an active role in the transformation.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row advisor-block">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img class="img-responsive img-circle avatar-img img-advisor" src="/public/outerAssets/images/team/nikhilm.jpg">
              </div>
              <div class="col-sm-8">
                <div class="advisor-name">
                  Nikhil Mulchandani
                </div>
                <div class="advisor-content">
                  Nikhil Mulchandani (Managing Partner, Ixora Ventures) has worked in the M&A domain in the MENA region with leading multinationals in energy infrastructure and also with KPMG Corporate Intelligence. Nikhil holds a joint degree in Law & Business from University of Warwick and a Master’s degree from IEBS Madrid.
                  <br><br>
                  At Ixora Ventures he focuses on lead analysis, deal structuring and portfolio management. Ixora Ventures is focused on seed and early stage companies in technology, education, healthcare and aerospace.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row advisor-block">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img class="img-responsive img-circle avatar-img img-advisor" src="/public/outerAssets/images/team/aravind.jpg">
              </div>
              <div class="col-sm-8">
                <div class="advisor-name">
                  Aravind Nayak
                </div>
                <div class="advisor-content">
                  Aravind is a veteran in the field of communications and signal processing in the semiconductor industry. He works out of Pennsylvania.
                  He is passionate about Learnpedia's initiatives in revolutionizing learning in India through technological initiatives. 
                  Aravind holds a B.Tech in Electrical Engineering from IIT Madras and a PhD from Georgia Institute of Technology.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Footer Section    -->
#{include 'theme1/Application/footer.html' /}
</section>
</body>
<script src="/public/assets/theme1/vendors/bower_components/jquery/dist/jquery.min.js">
</script>
<script src="/public/assets/theme1/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js">
</script>
<script src="/public/assets/theme1/vendors/bower_components/Waves/dist/waves.min.js">
</script> 
<script src="/public/assets/theme1/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js">
</script>
<script src="/public/assets/theme1/js/app.min.js">
</script>
<script type="text/javascript" src="/public/javascripts/dropdown-on-hover.js"></script>
<script type="text/javascript" src="https://web.mxradon.com/t/Tracker.js"></script>
<script type="text/javascript">
  pidTracker('17140');
</script>
</html>