<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Excel To HTML using codebeautify.org</title>
		</head>
		<body>
			<div id="sdCardGroupsPage" class="relativePos mcWidget">
    #{if sectionResp!=null && sectionResp.errorCode.isEmpty()}
    %{
	sectionData = sectionResp.result;
    }%
    
				
				<div class="pageHeadGrayDiv">
					<div class="floatLeft" id="programPageHeadDiv">
						<div>
							<span class="progPageProgram big20 boldy color6" data-default-text="Program">${sectionData.programInfo.name}</span>
						</div>
						<div class="color9 big13">
							<span class="progPageCenter" data-default-text="All Centers">${sectionData.centerInfo.name}</span>, 
                
							
							<span class="progPageSection" data-default-text="All Sections">${sectionData.sectionInfo.name}</span>
						</div>
					</div>
					<div class="floatRight">
						<span class="color6 big14">&{'TOTAL_LIBRARY_SIZE'}</span>
	    %{sizeObj = uicom.util.Utilities._getCalcSize(sectionData.sectionInfo.size);}%
	    
						
						<span class="big16 boldy">${sizeObj.value} ${sizeObj.text}</span>
					</div>
				</div>
     #{/if}
     
				
				<div class="pageHolderM">
					<div class="boldy big18" style="color:#0099CC">&{'EXISTING_GROUPS'}</div>
					<div class="sdgExistGroups">
	   #{if resp!=null && resp.errorCode.isEmpty() && resp.result.list.length()>0}
	   #{list items:0..resp.result.list.length()-1,as:'index'}
		%{ 
		grp = resp.result.list.get(index).recordInfo;
		currency = uicom.util.Utilities._getCurrencyByCode("INR");
		costValue = 0;
		costRate = null;
		if(grp.has("costRate") && !grp.costRate.equals(null) && grp.state == "OPEN"){
			costRate = grp.costRate;
			if(costRate.has("currencyCode") && !costRate.currencyCode.equals(null)){
				currency = uicom.util.Utilities._getCurrencyByCode(costRate.currencyCode);
			}
			if(costRate.has("value") && !costRate.value.equals(null)){
				if(costRate.value>0){
					costValue = costRate.value/100;
				}
			}
		}
		}%
	   
						
						<div class="sdgEachGroup" data-id="${grp.id}">
							<table class="fullWidth" cellpadding=0>
								<tr>
									<td class="alignTop" style="width:35px;" rowspan=2>
										<div class="sdCardSprite sdCardGroupIcon"></div>
									</td>
									<td class="alignTop">
										<a class="big14 boldy blackTextColor openSdCardGroup" data-id="${grp.id}">${grp.name}</a>
									</td>
									<td class="alignTop">
										<span class="right big12" style="color:#b7b7b7;">${new Date(grp.timeCreated).since(true)}</span>
									</td>
									<td class="alignTop" style="width:35px;" rowspan=2>
										<button type="Submit" data-id="${grp.id}" class="redButton whiteTextColor deleteSdCardGroupButton" style="margin-left:40px;">DELETE</button>
									</td>
								</tr>
								<tr>
									<td class="alignTop">
										<div class="greyTextColor">
											<span class="big12">${grp.cardInfos.length()} &{'SD_CARDS'}</span>
				%{ sizeObj = uicom.util.Utilities._getCalcSize(grp.size);}%
				
											
											<span class="smally"> - &{'TXT_TOTAL'} ${sizeObj.value} 
												
												<b>${sizeObj.text}</b>
											</span>
										</div>
									</td>
									<td class="alignTop" style="width:110px;">
										<div class="toolTipTitle" data-title="&{'SDCARD_STATE_COST'}">
											<div class="right">
												<input type="checkbox" class="markSdGroupOpen" #{if grp.state == "OPEN"} checked #{/if}/>
												<a class="showSdCardCostPopup"
				#{if costRate != null}
					data-price="${costValue}" data-currency="${currency.code}" data-currency-symbol="${currency.symbol}">
					${currency.code}(${currency.symbol}) ${costValue}
				#{/if}
				#{else}
					>&{'SDCARD_SPECIFY_PRICE'}
				#{/else}
				</a>
											</div>
										</div>
									</td>
								</tr>
								<!-- <tr><td></td><td><center></center></td></tr> -->
							</table>
						</div>
	   #{/list}
	   #{/if}
	   #{else}
		
						
						<div class="redTextColor centerText big16">&{'NO_item_FOUND',"SD-Cards Groups"}</div>
	   #{/else}
	
					
					</div>
				</div>
				<div id="sdCardGroupUiSamples" class="nonner">
					<div class="sdCardGroupPricePopup">
						<table cellspacing=5 cellpadding=0>
							<tr>
								<td class="greyTextColor big14">&{'TXT_CURRENCY'}</td>
								<td>
									<select class="chooseCurrencySignup">
	   		#{list items:0..currencyArray.length()-1,as:'cIndex'}
				%{ currency = currencyArray.get(cIndex);}%
				
										
										<option #{if currency.default} selected #{/if}
					title="${currency.country}(${currency.code})"
		 			value="${currency.code}#${currency.symbol}"
					>${currency.country} - ${currency.code}(${currency.symbol})</option>
	   		#{/list}
	   		
									
									</select>
								</td>
							</tr>
							<tr>
								<td class="greyTextColor big14">&{'TXT_PRICE'}</td>
								<td>
									<input type="text" class="priceTextBox priceSdCardGroup big14" 
				style="width:92%;height:15px;padding: 5px 10px;font-size:16px;"/>
								</td>
							</tr>
							<tr>
								<td colspan=2 class="centerText">
									<span class="blueButton submitSdCardPrice">&{'TXT_SUBMIT'}</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<script type="text/javascript">
    new function(){             
        var fn=function(){qrSdGroups.init();}
        lazyLoad([{fname:"qrSdGroups.js",cb:fn}]);        
    }();    
</script>
		</body>
	</html>