                        <div class="post">
                                <div class="postShortContent">
                                    <div class="postTitle"><img src="/public/images/bookName.png" alt=""/><a class="topicTitle">Fluid Mechanics -</a><span class="smallUpload">Uploaded by <a>Apeksha Maheshwari</a></span></div>
                                    <span class="time">20 seconds ago</span>
                                </div>
                        </div>
                        <div class="cleaner_with_divider">&nbsp;</div>
                        <div class="post">
                                <div class="postShortContent">
                                    <div class="postTitle"><a class="topicTitle">Basic and Applied Thermodynamics -</a><a class="pageNo">Pg13</a><span class="time">20 seconds ago</span></div>
                                    <a class="smallTitle">Anurag Murthy -</a>&nbsp;<span class="quote">Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,..." <a>more</a></span>
                                    <div class="postTags"><a>#semexam</a><a>#verimp</a></div>
                                    <div class="comments">
                                        <div class="commentNo"><a>2 replies <img src="/public/images/reply.png" alt=""/></a></div>
                                    </div>
                                </div>
                        </div>
                        <div class="cleaner_with_divider">&nbsp;</div>
                        <div class="post">
                                <div class="postShortContent">
                                    <div class="postTitle"><a class="topicTitle">Basic and Applied Thermodynamics -</a><a class="pageNo">Pg13</a><span class="time">20 seconds ago</span></div>
                                    <a class="smallTitle">Anurag Murthy -</a>&nbsp;<span class="quote">Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,..." <a>more</a></span>
                                    <div class="postTags"><a>#semexam</a><a>#verimp</a></div>
                                    <div class="comments">
                                        <div class="commentNo"><a>2 replies <img src="/public/images/reply.png" alt=""/></a></div>
                                    </div>
                                </div>
                        </div>