<div id='notificationsDiv'>
    <div class='notiHead centry'>
       <a class='closeNotifications floatRight'><img src='/public/images/upload/deleteFile.png' alt='Close'/></a>
       Notifications
    </div>
    <div id='notiFeedsDiv'>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> followed your notes <a class='feedDoc openThisDoc'>Modern Physics</a></div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> commented on your notes <a class='feedDoc openThisDoc'>Modern Physics</a></div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> started following you.</div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> reviewed your notes <a class='feedDoc openThisDoc'>Modern Physics</a> and rated it 4/5</div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> shared your notes <a class='feedDoc openThisDoc'>Modern Physics</a></div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> replied to your comment on <a class='feedDocPage'>pg 13</a> of <a class='feedDoc openThisDoc'>Modern Physics</a></div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith reddy</a> upvoted your comment on <a class='feedDocPage'>pg 13</a> of <a class='feedDoc openThisDoc'>Modern Physics</a></div>
            <span class='time'>20 seconds ago</span>
        </div>
        <div class='notiFeed'>
            <div class='postTitle'><a class='bigBoldy feedGroup openThisGroup'>IIT Roorkee</a> updated their status 'We rock!!!!!' </div>
            <span class='time'>20 seconds ago</span>
        </div>
   </div>
</div>






                      <div id='newsFeeds'>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedDoc openThisDoc'>Fluid Mechanics</a> - Uploaded by <a class='feedUser openThisUser'>Apeksha Maheshwari</a></div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                                <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Akhil Gupta</a> commented on <a class='feedDocPage'>Pg 23</a> of <a class='feedDoc openThisDoc'>Basic Physics</a> (Tutorial)</div>
                                    <span class='time'> 4 hours ago</span>
                                    <div class='postFeedComment postTail'>
                                        <div class='postFeedCommentText'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></div>
                                        <div class='postTags'><span>#semexam</span><span>#verimp</span></div>
                                        <div class='feedCommentInfo'><a class='feedRepliesNo'>2 replies <img src='/public/images/reply.png' alt=''/></a><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div>
                                    </div>
                                    <div class='feedReplies'>
                                        <div class='feedReply'>
                                            <a class='feedUser openThisUser'>Srujan Kumar -</a>&nbsp;<span class='feedReplyQuote'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></span>
                                        </div>
                                        <div class='feedReply'>
                                            <a class='feedUser openThisUser'>Ayush Mishra -</a>&nbsp;<span class='feedReplyQuote'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></span>
                                        </div>
                                    </div>
                                    <div class='feedReplyWrite'><span>Reply here</span><a class='feedDocPage'>Go to Page</a><textarea class='feedReplyBox'></textarea></div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                                <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'>New comment added on <a class='feedDocPage'>Pg 23</a> of <a class='bigBoldy feedDoc openThisDoc'>Basic Physics</a> (Tutorial), by <a class='feedUser openThisUser'>Arun Kumar</a></div>
                                    <span class='time'> 4 hours ago</span>
                                    <div class='postFeedComment postTail'>
                                        <div class='postFeedCommentText'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></div>
                                        <div class='postTags'><span>#semexam</span><span>#verimp</span></div>
                                        <div class='feedCommentInfo'><a class='feedRepliesNo'>2 replies <img src='/public/images/reply.png' alt=''/></a><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Swathi Tiwari</a> has started following <a class='feedDoc openThisDoc'>Basic Physics</a> (Book) uploaded by <a class='feedUser openThisUser'>Ajith Reddy</a> Check it out!</div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                       <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='feedUser openThisUser'>Kunal Prakash</a> and <a class='feedMoreUsers'>2 others</a> has started following <a class='feedDoc openThisDoc'>Basic Physics</a> (Book) uploaded by you </div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Swathi Tiwari</a> has started following <a class='feedUser openThisUser'>Prajjwal Joshi.</a></div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Swathi Tiwari</a> has new followers: <a class='feedUser openThisUser'>Prajjwal Joshi,</a><a class='feedUser openThisUser'> Faizal Khan</a> and  <a class='feedMoreUsers'>2 others</a> You might also want to connect with them!</div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'>TOC of <a class='bigBoldy feedDoc openThisDoc'>Chemistry of classX</a> updated by: <a class='feedUser openThisUser'>Prajjwal Joshi</a></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='postTail feedTOCs'>
                                        <div class='bigBoldy'>Contents</div>
                                        <div class='feedTocsContent'>
                                            <span>Breif History</span>,<span>Breif History</span>,
                                            <span>Brinkgdjsmnry</span>,<span>Breif Co ntet</span>,
                                            <span>Br niklrgfy</span>,<span>Bre  intredsl History</span>,
                                            <span>sdhv</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='feedUser openThisUser'>Ajith Reddy</a> updated TOC of <a class='bigBoldy feedDoc openThisDoc'>Modern Physics</a></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='postTail feedTOCs'>
                                        <div class='bigBoldy'>Contents</div>
                                        <div class='feedTocsContent'>
                                            <span>Breif History</span>,<span>Breif History</span>,
                                            <span>Brinkgdjsmnry</span>,<span>Breif Co ntet</span>,
                                            <span>Br niklrgfy</span>,<span>Bre  intredsl History</span>,
                                            <span>sdhv</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith Reddy</a> starred <a class='feedDoc openThisDoc'>Modern Physics</a> (Book)</div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedDoc openThisDoc'>Modern Physics,</a> (Book) was starred by <a class='feedUser openThisUser'>Ajith Reddy</a></div>
                                    <span class='time'>20 seconds ago</span>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith Reddy</a> reviewed <a class='feedDoc openThisDoc'>Modern Physics</a> (Book)</div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='feedDocRating'>
                                        <div class='overall'>overall</div><div class='rateCircle'>3</div>
                                        <div class='cleaner_with_divider'>&nbsp;</div>
                                        <div class='ratingDoc floatLeft' id='ratingDoc_contentMain'>
                                            <span class='yourrating'>Your Rating </span>
                                            #{list items:1..5,as:'i'}
                                                #{if i<=myRating}<div><img class='rateStar${i}' src='/public/images/rateYellow.png' alt=''/></div>#{/if}
                                                #{else}<div><img class='rateStar${i}' src='/public/images/rateWhite.png' alt=''/></div>#{/else}
                                            #{/list}
                                        </div>
                                        <span class='addFeedReview libOptionsButton'>Review</span>
                                    </div>
                                    <div class='cleaner_with_divider'>&nbsp;</div>
                                    <div class='userReviewsDiv'>
                                        <div class='postTail feedUserReview'>
                                             %{myRating=4}%
                                                #{list items:1..5,as:'i'}
                                                #{if i<=myRating}<div class='floatLeft'><img src='/public/images/silces2_19.png' alt=''/></div>#{/if}
                                                #{else}<div class='floatLeft'><img src='/public/images/rateWhite.png' alt=''/></div>#{/else}
                                                #{/list}
                                            <div class='cleaner_with_divider'>&nbsp;</div>
                                            <div class='feedUserReviewText'><a class='feedUser openThisUser'>Neetu Dessai</a> - 'Trignonometry is a very good book'<div class='feedUserReviewVoteUp'><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div></div>
                                        </div>
                                    </div>
                                    <div class='moreUserFeedReviews toSeeReviews'><label>see more reviews</label><img src='/public/images/reply.png' alt=''/></div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'>New review added to <a class='bigBoldy feedDoc openThisDoc'>Modern Physics</a> (Book), by <a class='feedUser openThisUser'>Ajith Reddy</a></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='feedDocRating'>
                                        <div class='overall'>overall</div><div class='rateCircle'>3</div>
                                        <div class='cleaner_with_divider'>&nbsp;</div>
                                        <div class='ratingDoc floatLeft' id='ratingDoc_contentMain'>
                                            <span class='yourrating'>Your Rating </span>
                                            #{list items:1..5,as:'i'}
                                                #{if i<=myRating}<div><img class='rateStar${i}' src='/public/images/rateYellow.png' alt=''/></div>#{/if}
                                                #{else}<div><img class='rateStar${i}' src='/public/images/rateWhite.png' alt=''/></div>#{/else}
                                            #{/list}
                                        </div>
                                        <span class='addFeedReview libOptionsButton'>Review</span>
                                    </div>
                                    <div class='cleaner_with_divider'>&nbsp;</div>
                                    <div class='userReviewsDiv'>
                                        <div class='postTail feedUserReview'>
                                             %{myRating=4}%
                                                #{list items:1..5,as:'i'}
                                                #{if i<=myRating}<div class='floatLeft'><img src='/public/images/silces2_19.png' alt=''/></div>#{/if}
                                                #{else}<div class='floatLeft'><img src='/public/images/rateWhite.png' alt=''/></div>#{/else}
                                                #{/list}
                                            <div class='cleaner_with_divider'>&nbsp;</div>
                                            <div class='feedUserReviewText'><a class='feedUser openThisUser'>Neetu Dessai</a> - 'Trignonometry is a very good book'<div class='feedUserReviewVoteUp'><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div></div>
                                        </div>
                                    </div>
                                    <div class='moreUserFeedReviews toSeeReviews'><label>see more reviews</label><img src='/public/images/reply.png' alt=''/></div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith Reddy</a> rated <a class='feedDoc openThisDoc'>Modern Physics</a> (Book) <span class='boldy'>4/5</span></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='feedDocRating'>
                                        <div class='overall'>overall</div><div class='rateCircle'>3</div>
                                        <div class='cleaner_with_divider'>&nbsp;</div>
                                        <div class='ratingDoc floatLeft' id='ratingDoc_contentMain'>
                                            <span class='yourrating'>Your Rating </span>
                                            #{list items:1..5,as:'i'}
                                                #{if i<=myRating}<div><img class='rateStar${i}' src='/public/images/rateYellow.png' alt=''/></div>#{/if}
                                                #{else}<div><img class='rateStar${i}' src='/public/images/rateWhite.png' alt=''/></div>#{/else}
                                            #{/list}
                                        </div>
                                        <span class='addFeedReview libOptionsButton'>Review</span>
                                    </div>
                                    <div class='cleaner_with_divider'>&nbsp;</div>
                                    <div class='userReviewsDiv'></div>
                                    <div class='showAllReviews toSeeReviews'><label>see more reviews</label><img src='/public/images/reply.png' alt=''/></div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><span class='boldy'>4/5</span> rating gievn to <a class='bigBoldy feedDoc openThisDoc'>Modern Physics</a> (Book), by <a class='feedUser openThisUser'>Ajith Reddy</a></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='feedDocRating'>
                                        <div class='overall'>overall</div><div class='rateCircle'>3</div>
                                        <div class='cleaner_with_divider'>&nbsp;</div>
                                        <div class='ratingDoc floatLeft' id='ratingDoc_contentMain'>
                                            <span class='yourrating'>Your Rating </span>
                                            #{list items:1..5,as:'i'}
                                                #{if i<=myRating}<div><img class='rateStar${i}' src='/public/images/rateYellow.png' alt=''/></div>#{/if}
                                                #{else}<div><img class='rateStar${i}' src='/public/images/rateWhite.png' alt=''/></div>#{/else}
                                            #{/list}
                                        </div>
                                        <span class='addFeedReview libOptionsButton'>Review</span>
                                    </div>
                                    <div class='cleaner_with_divider'>&nbsp;</div>
                                    <div class='userReviewsDiv'></div>
                                    <div class='showAllReviews toSeeReviews'><label>see more reviews</label><img src='/public/images/reply.png' alt=''/></div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith Reddy</a> upvoted the comment of <a class='feedUser openThisUser'>Sneha Sharma</a> on <a class='feedDocPage'>Pg 7</a> of <a class='feedDoc openThisDoc'>Modern Physics</a> (Book)</div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='postFeedComment postTail'>
                                        <div class='postFeedCommentText'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></div>
                                        <div class='postTags'><span>#semexam</span><span>#verimp</span></div>
                                        <div class='feedCommentInfo'><a class='feedRepliesNo'>2 replies <img src='/public/images/reply.png' alt=''/></a><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'>Comment of <a class='feedUser openThisUser'>Pooja Sharma</a> on <a class='feedDocPage'>Pg 7</a> of <a class='bigBoldy feedDoc openThisDoc'>Modern Physics</a> (Book) upvoted by <a class='feedUser openThisUser'>Ajith Reddy</a></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='postFeedComment postTail'>
                                        <div class='postFeedCommentText'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></div>
                                        <div class='postTags'><span>#semexam</span><span>#verimp</span></div>
                                        <div class='feedCommentInfo'><a class='feedRepliesNo'>2 replies <img src='/public/images/reply.png' alt=''/></a><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisUser'><img src='/public/images/user.png' class='userImg dragSearchUser' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'><a class='bigBoldy feedUser openThisUser'>Ajith Reddy</a> replied to the comment of <a class='feedUser openThisUser'>Sneha Sharma</a> on <a class='feedDocPage'>Pg 7</a> of <a class='feedDoc openThisDoc'>Modern Physics</a> (Book)</div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='postFeedComment postTail'>
                                        <div class='postFeedCommentText'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></div>
                                        <div class='postTags'><span>#semexam</span><span>#verimp</span></div>
                                        <div class='feedCommentInfo'><a class='feedRepliesNo'>2 replies <img src='/public/images/reply.png' alt=''/></a><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                        <div class='post newsFeed'>
                               <a class='floatLeft postImage openThisDoc'><img src='/public/images/post1.png' class='docImg dragSearchDoc' alt=''/></a>
                                <div class='postContent'>
                                    <div class='postTitle'>New reply on <a class='feedDocPage'>Pg 7</a> of <a class='bigBoldy feedDoc openThisDoc'>Modern Physics</a> (Book) by <a class='feedUser openThisUser'>Ajith Reddy</a> to the comment of <a class='feedUser openThisUser'>Pooja Sharma</a></div>
                                    <span class='time'>20 seconds ago</span>
                                    <div class='postFeedComment postTail'>
                                        <div class='postFeedCommentText'>Ordinarily When a photon strikes an atom, it kicks up an electron to an higher energy level.That energy level is unstable,...' <a>more</a></div>
                                        <div class='postTags'><span>#semexam</span><span>#verimp</span></div>
                                        <div class='feedCommentInfo'><a class='feedRepliesNo'>2 replies <img src='/public/images/reply.png' alt=''/></a><img src='/public/images/uicomDocuments/up.png' alt='' class='feedCommentLikeImg'/><span class='feedVoteUp'>21</span></div>
                                    </div>
                                </div>
                        </div>
                        <div class='cleaner_with_divider'>&nbsp;</div>
                      </div>



