.intl-tel-input {
  position: relative;
  display: block !important;
}

.intl-tel-input.allow-dropdown .flag-container,.intl-tel-input.separate-dial-code .flag-container {
   right: auto;
    left: 0;
    left: -16px;
    top: 1px;
 }
 .intl-tel-input .country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
 .loginFieldTitle{
  text-align: left!important;
 }
 .form-control{
  border-radius: 0px!important;
  /*max-width: 270px;*/
 }
label{
  font-weight: 400!important;
}
.form-control{
  height: 40px!important;
}
.form-group{
  margin-bottom:5px!important;
}

 @media(min-width:768px) and (max-width:1199px){
  .signupPopup{
    left: 60%;
    top:50%;
    position: relative;
  }
  .form-control{
    min-width: 300px;
  }
 }

 @media(min-width:768px) and (max-width:1199px){
  .otpPopup{
    left: 60%;
    top:50%;
    position: relative;
  }
  #errordiv{
    left: 80%!important;
    top:50%!important;
    position: relative;
  }
  .form-control{
    min-width: 300px;
  }
  #otpBox{
    left: 0;
  }
}

.loginSlidesTxt{
  padding-top: 30px!important;
}
