<style type="text/css">
#changePasswordPopup{
    padding: 10px 25px;
}
#changePasswordPopup input {
    background-color: #EEEEEE;
    border: medium none;
    box-shadow: 1px 1px 1px #CCCCCC inset;
    margin: 5px 0 10px;
    padding: 7px;
    width: 285px;
}
</style>
<div id="changePasswordSample" class="nonner">
    <div id="changePasswordPopup">
        <div class="greenTextColor centerText boldy nonner successText">Successfully saved</div>
        <div class="redTextColor centerText boldy nonner failedText"></div>
        <div><span class="boldy">Current Password</span><label class="redTextColor">*</label></div>
        <input type="password" name="oldPassword" required/>
        <div class="redTextColor fieldError smally rightText nonner">Fields marked with * are compulsory</div>
        <div style="border-bottom: 1px solid rgb(204, 204, 204);
             margin-left: -35px; width: 385px;"></div>


        <div class="boldy" style="margin-top:20px;">New Password</div>
        <input type="password" name="newPassword" required/>
        <div class="redTextColor lengthError smally rightText nonner">atleast 6 characters</div>
        <div>Confirm Password</div>
        <input type="password" name="confirmPassword" required/>
        <div class="redTextColor matchError smally rightText nonner">Passwords do not match</div>
        <div class="right" style="margin-top:10px;">
            <span class="greenButton submitNewPassword">Submit</span>
            <a class="cancelCommonPopup liner">Cancel</a>
        </div>
        <div class="cleaner_with_divider">&nbsp;</div>
   </div>
</div>
<script type="text/javascript">
$(document).on("click",".changePasswordBtn",function(){
    var popup=getCommonPopupBody(400);
    popup.html($("#changePasswordSample").html());
});
$(document).on("click",".submitNewPassword",function(e){
    var popup=$(this).closest("#changePasswordPopup");
    var oldPass=popup.find("input[name='oldPassword']");
    var newPass=popup.find("input[name='newPassword']"),conPass=popup.find("input[name='confirmPassword']");
    var fError=popup.find(".fieldError"),lError=popup.find(".lengthError"),mError=popup.find(".matchError");
    
    var broken=false;

    if(oldPass.val()==""){
        fError.removeClass("nonner");
        broken=true;
    }
    else fError.addClass("nonner");
    if(newPass.val().length<6){
        lError.removeClass("nonner");
        broken=true;
    }
    else lError.addClass("nonner");
    if(newPass.val()!=conPass.val()){
        mError.removeClass("nonner");
        broken=true;
    }
    else mError.addClass("nonner");
    
    if(!broken){
        $(this).text("submitting..")
        $.post("/profile/changePassword",{oldPassword:oldPass.val(),
            newPassword:newPass.val(),rePassword:conPass.val()},function(data){
            if(data.errorCode == ""){
                popup.find(".successText").removeClass("nonner");
                setTimeout(function(){
                    cancelAllCommonPopup();
                },2000);
            }
            else{
		var dd = popup.find(".failedText");
		var msg = "Reset Password Failed! ";
		if(data.errorCode == "INVALID_CREDENTIALS"){
			msg += "Old Password does not match :(";	
		}else{
			msg += "There was some error. Please Try again";
		}
                dd.text(msg).removeClass("nonner");
            }
            $(e.currentTarget).text("Submit");
        });
    }
});
</script>