     <div class="LMArrowsDiv">
            <span class="LMArrowsDivText">
                <label class="LMAStart">1</label>
                -
                <label class="LMAStop"></label>
                of
                <label class="LMATotal"></label>
            </span>
            <div class="LMPrevArrow">
                <span class="LMAArrowImg"></span>
            </div>
            <div class="LMNextArrow">
                <span class="LMAArrowImg"></span>
            </div>        
        </div> 