    <!--tagging sample-->

        <!--for tags unification-->
        <div id="ATTTSampleEXAM">
            <div class='ATTTExam ATTTItem'>
                <span class='ATTTRemoveExam ATTTRemoveTag ATRemImg'></span>
                <span class='ATTTItemName ATTTExamName'></span>
            </div>
        </div>
        <div id="ATTTSampleSUBJECT">
            <div class='ATTTSubject ATTTItem'>
                <span class='ATTTRemoveSubject ATTTRemoveTag ATRemImg'></span>
                <span class='ATTTItemName ATTTSubjectName'></span>
            </div>
        </div>
        <div id="ATTTSampleTOPIC">
            <div class='ATTTTopic ATTTItem'>
                <div class="ATTTTopicNameDiv">
                    <span class='ATTTRemoveTopic ATTTRemoveTag ATRemImg'></span>
                    <span class='ATTTTopicName ATTTItemName'></span>                        
                </div>                    
                <div class='ATTTSubTopicsDiv'></div>                    
                <div class="linBlk relativePos">
                    <a class='ATTTAddST'>Add Subtopic</a>
                    <div class="ATSTPopup"></div>
                </div>
            </div>
        </div>
        <div id="ATSTPSubTopicDivSample">
            <div class='ATSTPSubTopicDiv'><input type='checkbox' class='ATSTPSTCBox' id=''/>
              <span class='ATSTPSTName'></span>
              <div class='ATSTPSSTsDiv'></div>
            </div>    
        </div>
        <div id="ATTTSubTopicSample">
            <div class='ATTTSubTopic ATTTItem'>
                <div class="ATTTSubTopicNameDiv">
                    <div class="ATTTSubSubTopicLeftLine"></div>
                    <span class='ATTTRemoveSubTopic ATRemImg ATTTRemoveTag'></span>
                    <span class='ATTTSubTopicLine'></span>
                    <span class='ATTTSubTopicName ATTTItemName'></span>                                          
                </div> 
                <div class="ATTTSubSubTopicsDiv"></div>
            </div>    
        </div>
        <div id="ATTTSubSubTopicSample">
            <div class="ATTTSubSubTopic ATTTItem">
                <span class='ATTTSubSubTopicLine'></span>
                <span class='ATTTSubSubTopicName ATTTItemName'></span>                                              
            </div>        
        </div>


    <!--    add question options sample-->
        <div id="QAOptSample">
            <table>
                <tbody>
                <tr class="crossXPa">
                    <td class="quesAddOptChoose"><input type="radio" name="quesAddOpt" class="quesAddOpt"/></td>
                    <td class="quesAddOptHead"></td>
                    <td style="width: 620px;">
                        <div class="quesAddOptRTEDiv"></div>
                    </td>
                    <td><span class="quesAddOptCross crossX doCStream" data-cs-name="CROSS_A_OPTION" data-index="${i}"></span></td>
                </tr> 
                </tbody>
            </table>
        </div>   
	#{common.changePassword/}    