        <table class="margLeft20" width="95%">
            <tbody>
                <tr>
                    <td class="grayHead">Title</td>
                    <td>
                        <div class="inputDiv">
                            <input type="text" class="formInput" name="title"/>
                        </div>
                    </td>
                </tr>                    
                <tr>
                    <td class="grayHead">
                        Task
                    </td>
                    <td>
                        <div class="textareaDiv">
                            <textarea class="formTextarea" name="note"></textarea>
                        </div>                          
                    </td>
                </tr> 
                <tr>
                    <td class="grayHead">
                        Assign to*
                    </td>
                    <td>
                        <select name="targetUserId" class="formSelect popupUsersSelect">
                            <option value="-1"></option>
                        </select>                            
                    </td>
                </tr>  
                <tr>
                    <td class="grayHead">
                        Deadline
                    </td>
                    <td class="popupDeadline">
                        <input size="2" class="timeDate centry" placeholder="dd" type="text"/>
                        <input size="2" class="timeMonth centry" placeholder="mm" type="text"/>
                        <input size="4" class="timeYear centry" placeholder="yyyy" type="text"/>                        
                        <div class="smally color8">(Please enter the date in the format given)</div>
                    </td>
                </tr>                  
            </tbody>
        </table>   



