<div class="instAddDoubtPopup nonner">
   <div class="pmb-block">
       <div class="pmbb-body">
           <div class="pmbb-view askDoubtHolder">
               <dl class="horizontal">
                   <dt>&{'TXT_TITLE'}</dt>
                   <dd>
                   <div class="instAddDoubtTitle fg-line">
                       <input placeholder="&{'ASK_DOUBT_TITLE_PLACEHOLDER'}" type="text" class="form-control" id="doubtTitle" />
                   </div>
                   <small class="doubtTitleHelp help-block nonner f-13" style="color:#ffa829">Descriptive title ensures faster response</small>
                   </dd>
               </dl>
               <dl class="horizontal">
                   <dt>&{'TXT_DOUBT'}</dt>
                   <dd>
                   <div class="html-editor">
                   </div>
                   </dd>
               </dl>
               <dl class="horizontal doubtSubjectHolder">
                   <dt>Subject</dt>
                   <dd>
                   <div class="instAddSubTags">
                   </div>
                   </dd>
               </dl>
               <dl class="horizontal doubtTopicHolder nonner">
                   <dt>Topics</dt>
                   <dd>
                   <div class="showTopicLoader">
                   </div>
                   <div class="instAddTopicTags nonner">
                   </div>
                   </dd>
               </dl>
               <!-- <dl class="horizontal">
                   <dt></dt>
                   <dd> -->
                   <center>
                     <button class="btn btn-primary waves-effect" id="instPostDoubt">Done/Post</button>
                     <button class="btn btn-warning waves-effect" id="instCancelDoubt">Cancel</button>
                   </center>
                   <!-- </dd>
               </dl> -->
           </div>
       </div>
      </div>
    </div>