<div class="VidComingSoon comingSoonHolder left">
	<div class="comingSoonLHS left">
		<div class="comingSoonHead big16 fullWidth">
			<span class="blueTextColor boldy" style="padding-right:15px;">Videos</span> 
			<span class="greenTextColor">Coming Soon!</span>
		</div>
		<div class="comingSoonBody big12">
			<p>Learn from best experts and best 
			Universities across the world - from the comfort of your homes! </p>
			<p>Soon, you will able to search, view and collaborate over videos 
			on various topics and concepts created by most reputed experts and universities.</br>
			Happy Learning :-) </p>
		</div>
	</div>
	<div class="comingSoonImg right">
		<img class="" src="/public/images/content-item-snaps/video.jpg" alt=""/>
	</div>
</div>
