<div class="vChoose vChooseQuesType vChooseQuesSpecific" data-value="-1" data-onchange="onmcvChooseChange"
     data-param-name="includeTypes">
  <div class="vChooseHead">All Types</div>
  <div class="vChooseDownIcon"></div>
  <div class="vChooseDropDown">
      <div class="vChooseOpt" data-value="-1">All Types</div>
      <div class="vChooseOpt" data-value="SCQ">SCQ</div>
      <div class="vChooseOpt" data-value="MCQ">MCQ</div>
      <div class="vChooseOpt" data-value="NUMERIC">NUMERIC</div>
      <div class="vChooseOpt" data-value="MATRIX">MATRIX</div>
      <div class="vChooseOpt" data-value="SUBJECTIVE">SUBJECTIVE</div>
  </div>
</div> 
