        <div class="vChoose mcvChoose vChooseLevel" data-value="-1" data-onchange="onmcvChooseChange"
             data-param-name="level">
            <div class="vChooseHead">All Levels</div>
            <div class="vChooseDownIcon"></div>
            <div class="vChooseDropDown">
                <div class="vChooseOpt" data-value="-1">All Levels</div>
                <div class="vChooseOpt" data-value="EASY">Easy</div>
                <div class="vChooseOpt" data-value="MODERATE">Moderate</div>
                <div class="vChooseOpt" data-value="TOUGH">Tough</div>
            </div>
        </div>