<div class="docAndVidComingSoon left">
    <div class="DocComingSoon comingSoonHolder">
            <div class="comingSoonLHS left">
                    <div class="comingSoonHead big16 fullWidth">
                            <span class="blueTextColor boldy" style="padding-right:15px;">Document & Video Support</span>
                    </div>
                    <div class="comingSoonBody big12">
                            <p>It's not just about Questions and Tests. Soon, you will be able to access e-books, notes, tutorials etc., and collaborate with fellow students and experts over them. You will also be able to upload your notes to share knowledge with others. Awesomeness doesn't stop here...you will be able to add comments, highlights, web-links to documents and make them really interactive!</p>
                    </div>
            </div>
            <div class="comingSoonImg right">
                    <img class="" src="/public/images/content-item-snaps/docs.jpg" alt=""/>
            </div>
    </div>
    <div class="VidComingSoon comingSoonHolder" style="margin:-40px 20px;">
            <div class="comingSoonLHS left" style="width:44%;">
                    <div class="comingSoonBody big12">
                            <p>Learn from best experts and best
                            Universities across the world - from the comfort of your homes! </p>
                            <p>Soon, you will able to search, view and collaborate over videos
                            on various topics and concepts created by most reputed experts and universities.</br>
                            Happy Learning :-) </p>
                    </div>
            </div>
            <div class="comingSoonImg right" style="width:55%;position: relative;top: -15px;">
                    <img class="" src="/public/images/content-item-snaps/video.jpg" alt="" style="box-shadow:2px -1px 5px 0px #ccc"/>
            </div>
    </div>
</div>
<div class="cleaner_with_divider">&nbsp;</div>
