<div class="DocComingSoon comingSoonHolder left">
	<div class="comingSoonLHS left">
		<div class="comingSoonHead big16 fullWidth">
			<span class="blueTextColor boldy" style="padding-right:15px;">Documents</span> 
			<span class="greenTextColor">Coming Soon!</span>
		</div>
		<div class="comingSoonBody big12">
			<p>It's not just about Questions and Tests. Soon, you will be able to access e-books, notes, tutorials etc., and collaborate with fellow students and experts over them. You will also be able to upload your notes to share knowledge with others. Awesomeness doesn't stop here...you will be able to add comments, highlights, web-links to documents and make them really interactive!</p>
		</div>
	</div>
	<div class="comingSoonImg right">
		<img class="" src="/public/images/content-item-snaps/docs.jpg" alt=""/>
	</div>
</div>
