<link href="/public/stylesheets/exams.css" rel="stylesheet"/>
<div class="card" id="examCardContainer" style="max-width: 1000px;">
    <div class="card-header">
        <h3>The Joint Entrance Examination – Advanced (JEE – Advanced)</h3>
    </div>
    <div class="card-body card-padding">
        <div class="panel-group" role="tablist" data-collapse-color="green" aria-multiselectable="true">
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            About JEE Advanced
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        The Joint Entrance Examination – Advanced (JEE – Advanced), formerly the Indian Institutes of Technology Joint Entrance Examination (IIT-JEE) is an annual engineering college entrance examination in India. It is used as the sole admission test by the 23 Indian Institutes of Technology (IITs).
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Eligibility
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ol>
                            <li>All the candidates must fulfil each and every one of the following five criteria to appear in JEE (Advanced)
                            <ul>
                              <li>Performance in JEE (Main): Candidates should be among the top 2,20,000 (including all categories) by scoring positive marks in Paper‐1 of JEE(Main).
                              <br>
                              Category‐wise distribution of top 2,20,000 candidates (Criterion 1)
                                <div class="table-responsive">
                                <table class="table table-condensed table-bordered">
                                  <tr>
                                    <th>ORDER</th>
                                    <th>CATEGORY</th>
                                    <th>Number of Top candidates</th>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>OPEN</td>
                                    <td>107,767</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>OPEN‐PwD</td>
                                    <td>3,333</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>OBC‐NCL</td>
                                    <td>57,618</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>OBC‐NCL‐PwD</td>
                                    <td>1,782</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>SC</td>
                                    <td>32,010</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>SC‐PwD</td>
                                    <td>990</td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>ST</td>
                                    <td>16,005</td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>ST-PwD</td>
                                    <td>495</td>
                                  </tr>
                                </table>
                                </div>
                                </li>
                                <li>Age limit: Candidates should be less than 25 years of age. This limit is relaxed by 5 years for SC/ST/PwD candidates.</li>
                                <li>A candidate can attempt JEE (Advanced) a maximum of two times in consecutive years</li>
                                <li>A candidate should have appeared for the Class XII (or equivalent) examination for the first time in either the same year as the exam being conducted or one year prior to it. </li>
                                <li>A candidate should NOT have been admitted in an IIT irrespective of whether or not he/she continued in the program) OR accepted the IIT seat by reporting at a reporting centre in the past. The candidates whose admission at IITs was cancelled are also NOT eligible to appear in JEE</li>
                            </ul>
                            </li>
                            <li>Only candidates who score the minimum prescribed marks in each subject and in aggregate will be included in the rank list</li>
                            <li>The candidates should satisfy at least one of the following two criteria for admission to IITs:
                              <ul>
                                <li>Must have secured at least 75% aggregate marks in the Class XII (or equivalent) Board examination. The aggregate marks for SC, ST and PwD candidates should be at least 65%.</li>
                                <li>Must be within the category‐wise top 20 percentile of successful candidates in the respective Class XII (or equivalent) board examination.</li>
                              </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            Exam Pattern
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ol>
                            <li>There are two question papers: Paper 1 and Paper 2 of three hours duration each. Both papers are compulsory.</li>
                            <li>Each question paper will consist of three separate sections, viz., Physics, Chemistry and Mathematics. The pattern keeps varying. Negative marks may be allotted to some of the questions</li>
                            <li>Exam timings are as below
                              <ul>
                                <li>Paper 1: 09:00 IST to 12:00 IST</li>
                                <li>Paper 2: 14:00 IST to 17:00 IST</li>
                              </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                           aria-expanded="true" aria-controls="collapseFive">
                            Participating institutes
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel"
                     aria-labelledby="headingFive">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Institutes</th>
                                    <th>No of Seats</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>IIT Bhilai</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>IIT Bhubaneshwar</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>IIT Bombay</td>
                                    <td>929</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>IIT Delhi</td>
                                    <td>851</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>IIT (ISM) Dhanbad</td>
                                    <td>912</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>IIT Dharwad</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>IIT Gandhinagar</td>
                                    <td>180</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>IIT Goa</td>
                                    <td>90</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>IIT Guwahati</td>
                                    <td>645</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>IIT Hyderabad</td>
                                    <td>285</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>IIT Indore</td>
                                    <td>260</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>IIT Jammu</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>IIT Jodhpur</td>
                                    <td>180</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>IIT Kanpur</td>
                                    <td>827</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>IIT Kharagpur</td>
                                    <td>1341</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>IIT Madras</td>
                                    <td>838</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>IIT Mandi</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>IIT Palakkad</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>IIT Patna</td>
                                    <td>225</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>IIT Roorkee</td>
                                    <td>975</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>IIT Ropar</td>
                                    <td>260</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>IIT Tirupati</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>IIT (BHU) Varanasir</td>
                                    <td>1090</td>
                                </tr>
                                <tr class="finalTable">
                                    <td></td>
                                    <td>Total</td>
                                    <td>10988</td>
                                </tr>
                            </table>
                        </div>
                        Other centrally funded institutes have used JEE (Advanced) ranks in the past.
                        <br>
                        These include:
                        <ol>
                          <li>Indian Institute of Science, Bangalore (IISc)</li>
                          <li>Indian Institutes of Science Education and Research (IISERs) located in Berhampur, Bhopal, Kolkata, Mohali, Pune, Thiruvananthapuram and Tirupati</li>
                          <li>Indian Institute of Space Science and Technology (IIST), Thiruvananthapuram</li>
                          <li>Rajiv Gandhi Institute of Petroleum Technology (RGIPT), Rae Bareli</li>
                          <li>Indian Institute of Petroleum & Energy, Visakhapatnam</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                           aria-expanded="true" aria-controls="collapseSix">
                            Important dates
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel"
                     aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Activity</th>
                                    <th>Date</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JEE (Main) 2017 [Offline exam]</td>
                                    <td>02‐04‐2017</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Declaration of JEE (Main) 2017 Results</td>
                                    <td>27‐04‐2017</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Registration for JEE (Advanced) 2017</td>
                                    <td>28‐04‐2017, 10:00 IST<br>
                                    02‐05‐2017, 17:00 IST</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Registration with Late Fee</td>
                                    <td>02‐05‐2017, after 17:00 IST<br>
                                    04‐05‐2017, 17:00 IST</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Admit Card Available for Downloading</td>
                                    <td>10‐05‐2017, 10:00 IST<br>
                                    21‐05‐2017, 09:00 IST</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>JEE (Advanced) 2017 Examination</td>
                                    <td>21‐05‐2017</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>(A) Online Display of ORS and Scanned Responses<br>
                                    (B) Request from Candidates for Reviewof Scanned Responses</td>
                                    <td>31‐05‐2017, 10:00 IST<br>
                                    03‐06‐2017, 17:00 IST</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Online Display of Answer Keys</td>
                                    <td>04‐06‐2017, 10:00 IST</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Feedback and Comments on Answer Keys from Candidates</td>
                                    <td>04‐06‐2017, 10:00 IST<br>
                                    06‐06‐2017, 17:00 IST</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Declaration of JEE (Advanced) 2017 Results</td>
                                    <td>11‐06‐2017, 10:00 IST</td>
                                </tr>
                            </table>
                        </div>
                        <h3>Sources</h3>
                        <ul style="list-style-type: none;">
                          <li><a href="https://en.wikipedia.org/wiki/Joint_Entrance_Examination_%E2%80%93_Advanced" target="_blank">https://en.wikipedia.org/wiki/Joint_Entrance_Examination_%E2%80%93_Advanced</li>
                          <li><a href="https://www.jeeadv.ac.in/" target="_blank">https://www.jeeadv.ac.in/</li>
                          <li><a href="https://www.jeeadv.ac.in/info_brochure" target="_blank">https://www.jeeadv.ac.in/info_brochure</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{if flag==true}
<script type="text/javascript">
    $(document).ready(function(){
        $(".instPageNavigator").find(".active").removeClass("active");
        $(".instPageNavigator").find(".instExamTab").closest("li").addClass("active");
    })
</script>
#{/if}