<link href="/public/stylesheets/exams.css" rel="stylesheet"/>
<div class="card" id="examCardContainer" style="max-width: 1000px;">
    <div class="card-header">
        <h3>The Joint Entrance Examination (Main)</h3>
    </div>
    <div class="card-body card-padding">
        <div class="panel-group" role="tablist" data-collapse-color="green" aria-multiselectable="true">
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            About JEE Main
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        The Joint Entrance Examination (Main), formerly All India Engineering Entrance Examination (AIEEE), is a  national level competitive test for admission to various undergraduate engineering and architecture courses , mainly to the <b>31 National Institutes of Technology (NITs) and 23 Indian Institute of Information Technology (IIITs)</b>.
                        <br>
                        For candidates seeking admission into IITs, it is required that they qualify this exam to be able to appear for JEE Advanced.
                        <br>
                        The examination consists of two papers:
                        <ol>
                        <li>Paper 1 for B.E./BTech courses and </li>
                        <li>Paper 2 for BArch courses.</li>
                        </ol>
                        A candidate can opt for any or both the papers. Candidates attempting Paper 1 can select one of the two modes of writing the test.
                        <ol>
                          <li>Pen & paper</li>
                          <li>Online, while paper 2 is only on pen and paper format</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Eligibility
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ol>
                            <li>Age limit: Candidates should be less than 25 years of age. This limit is relaxed by 5 years for SC/ST/PwD candidates.</li>
                            <li>A candidate should have passed the Class XII (or equivalent) examination latest 2 years prior to the year of the exam being conducted  or appearing for Class XII (or equivalent) examination in  the same year as the exam being conducted .</li>
                            <li>Candidates must have taken at least five subjects in class 12th/qualifying examination in order to be eligible for writing JEE (Main) – 2017 (a. Maths, b. Physics, c. any one of chemistry, biology, biotechnology, technical vocational subject, d. a language and e. any other subject)</li>
                            <li>The number of attempts that a candidate can attempt JEE (Main) shall be limited to 03</li>
                            <li>The states of Madhya Pradesh, Nagaland and Odisha have joined JEE (Main) system from 2014. The age limit, for admission to institutions in these states which were earlier admitting candidates based on their state level examinations, will be as per their past practice only.</li>
                            <li>
                              It is required for the candidate to possesses Aadhaar card if he/she is eligible to do so.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            Exam Pattern
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        Paper 1: Pen and Paper based and Computer based<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objective type with equal weightage to Mathematics, Physics, Chemistry<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Pen and paper based test will be on a single shift - morning shift ( 9:30 AM to 12:30 PM) <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Computer based test would be in two shifts on a different day than the pen and paper based test<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Duration: 3 Hrs
                        <br><br>
                        Paper 2: Pen and Paper based<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objective type for Mathematics and aptitude test, questions to test drawing aptitude for drawing test
                        Test will be on the same &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; day as the Paper 1, pen and paper based test – Afternoon shift (2:00 PM to 5:00 PM)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Duration 3 Hrs<br>


                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                           aria-expanded="true" aria-controls="collapseFour">
                            Preparation of merit list
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel"
                     aria-labelledby="headingFour">
                    <div class="panel-body">
                        <ol>
                          <li>The score and rank of Paper-I of JEE (Main) – 2017 for all candidates will be declared by27th April2017.This score shall comprise the actual marks obtained in Paper-I of JEE (Main) – 2017 along with the status of those who qualify for appearing in JEE (Advanced) – 2017 provided and subject to other conditions of eligibility being met.  The rank shall comprise All India rank and All India category rank. </li>
                          <li>Only the All India Rank (AIR) is used for admissions through Central Seat Allocation Board to NITs/IIITs/CFTIs/SFIs/Others, while other ranks are for information purposes</li>
                        </ol>
                        As per Government of India rules candidates belonging to certain categories are admitted to seats reserved for them based on relaxed criteria.These categories are: 
                          <ol style="list-style-type: upper-roman;">
                            <li>Other Backward Classes (OBC) if they belong to Non Creamy Layer (NCL) </li>
                            <li>Scheduled Castes (SC)</li>
                            <li>Scheduled Tribes (ST)</li>
                            <li>Persons with Disability (PwD)with 40% or more disability</li>
                          </ol>
                          Benefit of reservation for admission to NITs/IIITs and CFTIs shall be given only to those classes/castes/tribes which are in the respective central list published by the Govt of India. For admission to State Engineering colleges who have opted for admission through JEE(Main)-2017, the reservation rules of that state shall apply.
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                           aria-expanded="true" aria-controls="collapseFive">
                            Participating institutes
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel"
                     aria-labelledby="headingFive">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>S.No</th>
                                    <th>Institutes</th>
                                    <th>No of Institutes</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Indian Institute of Technology ( Will use JEE Advanced score)</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>National Institute of Technology</td>
                                    <td>31</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Indian Institute of Information Technology</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Government Funded Technical Institutes</td>
                                    <td>19</td>
                                </tr>
                            </table>
                        </div>
                        There are other institutes also that participate in the seat allocation process. However they are only eligible in spot round.
                    </div>
                </div>
            </div>

            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                           aria-expanded="true" aria-controls="collapseSix">
                            Important dates
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel"
                     aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>No</th>
                                    <th>Activity</th>
                                    <th>Date</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Online submission of application on website <a href="https://www.jeemain.nic.in" target="_blank">www.jeemain.nic.in</a></td>
                                    <td>01/12/2016 – 02/01/2017</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Date of Availability of Admit Card for JEE (Main) on Website</td>
                                    <td>2ndweek of March 2017 onwards</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Dates of JEE (Main) for Pen and Paper Based examination Both Paper 1, Paper 2</td>
                                    <td>02/04/2017</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Date of JEE (Main) (Computer Based Examination)</a></td>
                                    <td>08/04/2017<br>
                                    09/04/2017</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Display of Answer key and image of response (OMR) sheet</td>
                                    <td>18-22/ 04/ 2017</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Declaration of JEE (Main) Paper–1 Score / All India Rank and top 220000 candidates eligible for appearing in JEE (Advanced)</td>
                                    <td>27/04/2017</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Declaration of All India RankJEE (Main) Paper – 2.</td>
                                    <td>27/04/2017</td>
                                </tr>
                            </table>
                        </div>
                        <h3>Sources</h3>
                        <ul style="list-style-type: none;">
                          <li><a href="http://jeemain.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&ii=69&iii=Y" target="_blank">http://jeemain.nic.in/WebInfo/Handler/FileHandler.ashx?i=File&ii=69&iii=Y</a></li>
                          <li><a href="https://en.wikipedia.org/wiki/Joint_Entrance_Examination" target="_blank">https://en.wikipedia.org/wiki/Joint_Entrance_Examination</a></li>
                          <li><a href="https://en.wikipedia.org/wiki/Joint_Entrance_Examination_(Main)" target="_blank">https://en.wikipedia.org/wiki/Joint_Entrance_Examination_(Main)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{if flag==true}
<script type="text/javascript">
    $(document).ready(function(){
        $(".instPageNavigator").find(".active").removeClass("active");
        $(".instPageNavigator").find(".instExamTab").closest("li").addClass("active");
    })
</script>
#{/if}