#{if data!=null && data.has('name')}
#{if play.mode.name()=='PROD'}
	<LINK href="/public/stylesheets/takeTest/o.take.css" rel="stylesheet" type="text/css">
	<script src="@{'/public/javascripts/takeTest/o.take.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/if}
#{else}
	<LINK href="/public/stylesheets/uicomTakeTest/take.css" rel="stylesheet" type="text/css">
	<LINK href="/public/stylesheets/uicomTakeTest/question.css" rel="stylesheet" type="text/css">
	<script src="@{'/public/javascripts/uicomTakeTest/take.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/else}
<div class="test_head" data-test-data="${data}">
	%{
		instLogo = uicom.util.Utilities.getInstLogo(myOrgInfo.getString('instLogo'));
	}%
	<div class="instThumbnailLogoHolder">
		<img src="${instLogo}" alt="${myOrgInfo.getString('instFullName')} Logo"
		class="instThumbnailLogo"/>
	</div>
	<div>
		<span class="onlineIcon">ONLINE</span>
		<span class="offlineIcon nonner">OFFLINE</span>
	</div>
	<div class="testOfflineMsg redTextColor nonner big18" style="padding:10px 0;">
		&{'TEST_OFFLINE_ERROR'}
	</div>
</div>
<div class="nonner">
	#{if data.duration>0}
	    %{
	        timeObj=uicom.util.Utilities.getTimeFromMiliSec(data.duration);
	        totalTimeHrs = timeObj.hrs;
	        totalTimeMins = timeObj.mins;
	        totalTime = totalTimeHrs + ":" + totalTimeMins;

	    }%
    #{/if}
	%{
		testName = data.name;
		firstName = myOrgInfo.get('firstName');
		profilePic = myOrgInfo.get('profilePic');
	}%
	#{common.testGuidelines showGuidlinesInsideTest:true, testName:testName,totalTime:totalTime/}
</div>
<div class="nonner">
	#{common.questionPaper data:data/}
</div>

<div class="test_name_block">
	<span class="test_name">Test Name : </span>
	<span class="test_name">${data.name}
	</span>
</div>
<div class="qpandinstr">
	<span class="read_instr" ><img src="/public/images/information.png">Read Instructions</span>
	<span class="questionPaper"><img src="/public/images/report20px.png"> Question Paper</span>
</div>



<div class="test_subjects timer CSWidget test_endexam_timer" data-widget="TEST_ATTEMPT_TOP_BAR">
	<div class="endtest_time">
		#{if data.has('duration') && data.duration > 0}
		<span class="test_timer">
			<span class="test_timer_graph">
				#{include '/UIComTags/common/arc_drawing.html' /}
			</span>
			<span class="time_left">
				Time Left
			</span>
			%{
				timeObj=uicom.util.Utilities.getTimeFromMiliSec(data.duration);
			}%
			<span class="total_time_left">${timeObj.hrs}:${timeObj.mins}:${timeObj.secs}</span>
		</span>
		#{/if}
	</div>
	<img style="width: 40px;border-radius: 50%;border:1px solid #f1f1f1;float: left;" class="instSettingsPic myInstProfilePic" alt="&{'IMG_NA'}" onerror="this.src='/public/images/defaultProfilePic.jpg';" src="${session.profilePic}"/>
	<span style="color: #000;text-transform: uppercase;font-size: 13px;position: relative;top: 20px;left: 10px;">
	 ${session.fullname}</span>
</div>



%{
	openBoardIndex = 0;
}%
<div class="test_subjects CSWidget boards" data-widget="TEST_ATTEMPT_TOP_BAR">
	<div class="test_subjects_tabs">
		#{list items:0..data.boards.length()-1, as:'index'}
				#{if index == openBoardIndex }
					<span class="selected doCStream testBoard" data-cs-name="SUBJECT_TAB"
						data-subject-id=${data.boards.get(index).id}>${data.boards.get(index).name}</span>
				#{/if}
				#{else}
					<span class="doCStream testBoard" data-subject-id=${data.boards.get(index).id}>${data.boards.get(index).name}</span>
				#{/else}
		#{/list}
		<div class="cleaner_with_divider">&nbsp;</div>
	</div>
</div>


<div class="test_subjects types">
	%{
		countOfType = 0;
		count = 0;
	}%
	#{list items:0..data.boards.get(openBoardIndex).questions.length()-1, as:'typeIndex'}
		%{
			questionBoard = data.boards.get(openBoardIndex).questions.get(typeIndex).questions;
		}%
		#{if !questionBoard.equals(null)}
			%{
				countOfType++;
			}%
		#{/if}
	#{/list}
	#{if countOfType > 1}
	<span style="position: absolute;left: 10px;top: 50%;transform: translateY(-50%);">Question Types : </span>
		<div class="test_type_tabs">
			#{list items:0..data.boards.get(openBoardIndex).questions.length()-1, as:'typeIndex'}
				%{
					questionBoard = data.boards.get(openBoardIndex).questions.get(typeIndex);
				}%
				#{if !questionBoard.questions.equals(null) && questionBoard.questions.length()>0}
					#{if count == 0 }
						<span class="doCStream selected testQuestionType" data-type-id=${questionBoard.type}>${questionBoard.type}</span>
						%{count = count+1;}%
					#{/if}
					#{else}
						<span class="doCStream testQuestionType" data-type-id=${questionBoard.type}>${questionBoard.type}</span>
					#{/else}
				#{/if}
			#{/list}
		</div>
	#{/if}
</div>


<div class="mainContent">
	%{
	alphabet = "abcdefghijklmnopqrstwxyz";
	testQuestions = data.boards.get(openBoardIndex).questions;
	question = testQuestions;
	}%
	#{list items:0..testQuestions.length()-1,as:'qTypeIndex'}
		%{ eachType = testQuestions.get(qTypeIndex);}%
		#{if !eachType.equals(null) && eachType.has('questions') && !eachType.questions.equals(null) && eachType.questions.length()>0}
		%{
			question = eachType.questions.get(0);
			break;
		}%
		#{/if}
	#{/list}
	<div class="test_questions CSWidget" data-widget="QUES_BODY_HOLDER">
		<div style="text-align: center;background: #2e6fb6;padding: 5px;">
			<span style="font-size: 12px;color: #fff;">
				Question Type :
			</span>
			<span class="questionType" style="font-weight: bold;font-size: 14px;color: #fff;">
				${question.type}
			</span>
			<span class="questionNumber">Question 1 : </span>
		</div>
		<div class="questionBody" data-q-type="${question.type}">
			<!-- <div class="paraText">
				*{#{if question.type == "PARA"}
					${question.paraContent.raw()}
				#{/if}}*
			</div> -->
			<div class="questionText">${question.content.raw()}</div>
			<div class="choices #{if question.type=='NUMERIC'}nonner#{/if}">
			%{
				inputType="radio";
				if(question.type == "MCQ" || question.type == "PARA" || question.type == "MATRIX"){
					inputType = "checkbox";
				}
			}%
			#{if question.has('options') && !question.options.equals(null) && question.options.length()>0}
		   		#{list items:0..question.options.length()-1, as:'index'}
					<table class="eachOptHolder">
					   <tr>
						<td style="width:20px;">
							<input type="${inputType}" data-cs-name="QUES_OPTION_${inputType}" name="takeTestOptInput"
								value="${index}" class="doCStream"/>
						</td>
						<td class="optAlphaCount">(${alphabet.charAt(index)})</td>
						<td>
							<div class="eachOpt">${question.options.get(index).raw()}</div>
						</td>
					   </tr>
					</table>
			   #{/list}
			#{/if}
			</div>
			<div class="testNumAns #{if question.type!="NUMERIC"}nonner#{/if}">
				<span class="">Answer : </span>
				<input class="numberTextBox numericAnsInputBox"
					placeholder="Use below keyboard for input" type="text"/>
				#{common.virtualNumKeypad inputClassName:".numericAnsInputBox"/}
			</div>
		</div>
	</div>
</div>



<div class="questionsBlock">
	<div class="questionsStateMode">
		<span class="answered">
			<span class="eachquestion save_and_next">
				Q
			</span>
			<span class="modeHeading">
				Answered
			</span>
		</span>
		<span class="notAnswered">
			<span class="eachquestion">
				Q
			</span>
			<span class="modeHeading">
				Not Visited
			</span>
		</span>
		<span class="marked">
			<span class="eachquestion mark_for_review">
				Q
			</span>
			<span class="modeHeading">
				Marked for Review
			</span>
		</span>
		<span class="present">
			<span class="eachquestion current">
				Q
			</span>
			<span class="modeHeading">
				Current
			</span>
		</span>
		<span class="answerandmarked">
			<span class="eachquestion save_and_next mark_for_review">
				Q
			</span>
			<span class="modeHeading">
				Answered & Marked for Review <small>(will be considered for evaluation)</small>
			</span>
		</span>
		<span class="visitedstatic">
			<span class="eachquestion visited">
				Q
			</span>
			<span class="modeHeading">
				Not Answered
			</span>
		</span>
	</div>
	<div class="test_question_summary CSWidget" data-widget="ATTEMPT_TEST_QUES_SUMMARY_HOLDER">
		<div class="sub_name">${data.boards.get(openBoardIndex).name}</div>
		<div class="q_list">
		%{ qIndex = 1;}%
		#{if data.boards.get(openBoardIndex).questions.length()>0}
		#{list items:0..data.boards.get(openBoardIndex).questions.length()-1, as:'qTypeIndex'}
			%{ qTypeQuestions = data.boards.get(openBoardIndex).questions.get(qTypeIndex).questions;}%
			#{if !qTypeQuestions.equals(null) && qTypeQuestions.length()>0}
				#{list items:0..qTypeQuestions.length()-1, as:'index'}
					<span class="each_question doCStream" data-cs-name="SHOW_QUES_LINK"
						data-qIndex="Q${qIndex}">Q${qIndex}</span>
					%{qIndex++;}%
				#{/list}
			#{/if}
		#{/list}
		<div class="cleaner_with_divider">&nbsp;</div>
		#{/if}
		</div>
		<div class="show_only_marked">
			<input type="checkbox" class="doCStream" data-cs-name="SHOW_ONLY_QUES_MARKED_REVIEW" value="" name="markedCheck" />
			<label for="markedCheck">Show only marked for review questions</label>
		</div>
	</div>
</div>

<div class="allbtnholder">
	<input type="button" class="left mark_review_btn btns doCStream" data-cs-name="MARK_REVIEW_BTN"
	value="Mark For Review"/>
	<input type="reset" class="left reset_btn btns doCStream" data-cs-name="RESET_BTN" value="Reset"/>
	<input type="button" class="right save_next_btn btns doCStream" data-cs-name="SAVE_BTN" value="Save & Next"/>
	<input type="button" class="right skip_btn btns doCStream" data-cs-name="SKIP" value="Skip"/>
	<div class="cleaner_with_divider">&nbsp;</div>
</div>

<div class="submitButton">
	<span class="test_end_btn doCStream" data-cs-name="END_TEST_BTN">Submit</span>
</div>
<script type="text/javascript">
	loadTestMJEqns($(".test_questions .question_body").get(0));
	$($(".test_question_summary").find(".q_list .each_question").get(0)).addClass("current");
	//takeTest.init();
</script>
	#{if play.mode.name()=='PROD'}
	<script type="text/javascript">
		$(function(){
			try{
                // $(window).bind("blur",windowOutFocused);//ALT+TAB SCENARIO
            }catch(err){}
        });
    </script>
	#{/if}
#{/if}
#{else}
	<script type="text/javascript">
	$(function(){
		alert("&{'TEST_TRY_AGAIN'}");
		endCurrentExam("${testIdStr}");
	});
	</script>
#{/else}
