<div class="testPasswordPopup">
    <span class="cmdsPopupHead">Password to protect the test with</span>
    <table class="settingPasswordTable" cellspacing=0 cellpadding=2>
        <tr>
            <th>Password :</th>
            <td>
                <input id="passwordForTest" type="text" placeholder="Password..."/>
            </td>
        </tr>
        <tr>
        <tr>
            <th>Result Password :</th>
            <td>
                <input id="passwordForTestResult" type="text" placeholder="Password..."/>
            </td>
        </tr>
        <tr>
            <td colspan=2 class="rightText">
                    <span class="blueButton setPassword" data-action="${action}">Submit Password</span>
            </td>
        </tr>
    </table>
</div>
