<div class="cmdsPopupHead">Add to a Sequential Learning Program</div>   
<div class="moveWidget addToCDPMoveWidget">
    #{include 'QrCDPPlans/addToCDPList.html' /}
</div>
<table class="margLeft20 cdpContentTitleTable nonner" width="95%">
    <tbody>
        <tr>
            <td class="grayHead">
                Title of the content:
            </td>
            <td>
                <div class="inputDiv">
                    <input type="text" class="formInput cdpContentItemTitle" name="name" placeholder="Enter the title"/>
                </div>                            
            </td>
        </tr>                
    </tbody>
</table>  
<ul class="margBot10 color8" style="list-style: disc inside none;">
    <li>Otherwise content can only be added to topic/subtopic only.</li>
</ul>
