<div class="createBulkAccessCodesPopup">
    <table class="newInventoryEntryTable" cellspacing=0 cellpadding=0>
      <tr>
	<th class="alignTop">&{'INVENTORY_PRODUCT_ITEM'}</th>
	<td>
	    <div class="relative chooseSellableItem">
		%{
			sellableEntities = util.TemplateHelper._getSellableEntities();
		}%
		<select class="chooseSellableEntityType alignTop" data-shipable="sellableEntities.get(0).shipable">
		#{list items:0..sellableEntities.length()-1,as:'index'}
			%{ entity = sellableEntities.get(index); }%
			<option data-shipable="${entity.shipable}" value="${entity.value}">${entity.text}</option>
		#{/list}
		</select>
		<input class="chooseSellableEntityId" placeholder="type to search sellable items"/>
		<div class="cmdsEntityList nonner">
		</div>
		<div class="addIcon addNewInvItem toolTipTitle" data-title="Add new item"></div>
	     </div>
	</td>
      </tr>
      <tr>
	<th class="alignTop">&{'INVENTORY_SELLING_POINT'}</th>
	<td>
	   <select type="text" class="invSellPoint">
		<option value="">From where you sold your product</option>
		#{if pointsOfSale!=null && pointsOfSale.errorCode.isEmpty() 
			&& pointsOfSale.result.pointsOfSale.length()>0}
		#{list items:0..pointsOfSale.result.pointsOfSale.length()-1,as:'index'}
			%{ value = pointsOfSale.result.pointsOfSale.get(index);}%
			<option value="${value}">${value}</option>
		#{/list}
		#{/if}
	   </select>
	   <input type="text" class="invSellRefNo" placeholder='&{'REF_NO'}' style="width:100px;"/>
	</td>
      </tr>
      <tr>
	<th class="alignTop">Number of Codes Required : </th>
	<td>
	   <input type="text" class="bulkCount" placeholder='Count Required' style="width:100px;"/>
	</td>
      </tr>
      <tr>
	<td colspan=2 class="rightText">
		<span class="blueButton submitBulkAccessCodes">&{'TXT_SUBMIT'}</span>
	</td>
      </tr>
    </table>
</div>
