    <div class="shareWithFrndsDiv shareContentDiv entrySuggHolder CSWidget" data-widget="SHARE_WITH_INDIVIDUAL">
        <div class="entrySuggDiv">
            <span class="entrySuggAddedList"></span>
            <input size="1" class="entrySuggInput showEntrySuggPH" 
                   placeholder="Search and Add or Select people from the list" value="" type="text" 
                   data-url-str="/uicomshare/shareFrndsSuggs" data-query="query" 
                   data-target="SHARE_FRNDS" data-params='{"networkOnly":true,"eType":"USER"}'/>
        </div>
        <div class="ESListDiv nonner"></div>
    </div>
    <div class="textareaDiv margTop15">
        <textarea class="shareCommentText" placeholder="Add comment (optional)" style="padding-right:0px;"></textarea>
    </div>
    <div class="cleaner_with_divider">&nbsp;</div>
