<div style="padding-top: 30px;position: fixed;text-align: center;width: 100%;top:30px;">
    <img src="/public/images/vedantu.png" alt="Vedantu" />
    <img src="/public/images/knowledge.png" alt="Making Knowledge Democratized" 
         style="margin-left: 15px;position: relative;top: 10px;" />
</div>
<div style="margin-left: 20px;position: fixed;width: 100%;text-align: center;top:150px;">
    <h3>The requested page was not found.</h3>
    You may have mistyped the url. Some urls are case sensitive.
</div>
