%{
        facet=challenges.result.facet;
        if(facet.has('statusFacet')&&facet.statusFacet.has('active'))active=facet.statusFacet.active;
        else active=0;

        if(facet.has('statusFacet')&& facet.statusFacet.has('ended'))ended=facet.statusFacet.ended;
        else ended=0;

        attempted=facet.attemptFacet.count;


    challenges=challenges.result.list;
    if(params.size!=null)loadMoreSize=Integer.parseInt(params.size);
    else loadMoreSize=0;
}%
<div class="LMHandlerDiv" data-callback="CLOSED_CHALLENGES" data-widget="CLOSED_CHALLENGES_HOLDER">
    #{challenges.challengeItems target:'CLOSED_CHALLENGES',challenges:challenges,loadMoreSize:loadMoreSize/}
</div>
<script type="text/javascript">
    $(function(){
        try{
            vChallenges.cpTabCbFns["CLOSED_CHALLENGES"]({stats:{active:"${active}",closed:"${ended}",attempted:"${attempted}"}});
        }catch(err){}  
    });
</script>