                <div class="vChoose brdItemvChoose" data-value="-1" 
                     data-onchange="editBrdItem" data-req="true">
                  <div class="vChooseHead">
                      <div class="brdItemEdit"></div>
                  </div>
                  <div class="vChooseDownIcon"></div>
                  <div class="vChooseDropDown">
                      <div class="vChooseOpt" data-value="RENAME">Rename</div>
                      <div class="vChooseOpt" data-value="REMOVE">Remove</div>
                      #{if _target=="TOPIC"}
                      <div class="vChooseOpt vchooseOptAddSubTopic" data-value="ADD_SUBTOPIC">Add Sub Topic</div>
                      #{/if}
                  </div>
                </div> 