#[Auto generated class files]
tmp/
target/
.target/
*.swp
bin/
project/project/
project/target/
dist/
out/
to.publish/

#[Dependencies]
modules/
lib/

#[Eclipsify]
eclipse/
.classpath
.project
.settings/
.metadata/
.metadata1/

#[Netbeansify]
nbproject/

#[Idea]
/.idea
/*.iml
/.idea_modules

#[pid]
server.pid
RUNNING_PID

#[logs]
logs/
logs

#[data]
data/

#[others]
.history
