<div class="vChoose vChooseSDCardPage mcvChoose" data-value="-1" data-onchange="onsdCardChooseChange">
    <div class="vChooseHead">
	<img class="sdCardImage" src="/public/images/SD-card.png" alt=""/>
	<span class="whiteTextColor big15" style="vertical-align: super;">&{'SD_CARD_GROUP'}</span>
    </div>
    <div class="vChooseHeadBackup nonner">
	<img class="sdCardImage" src="/public/images/SD-card.png" alt=""/>
	<span class="whiteTextColor big15" style="vertical-align: super;">&{'SD_CARD_GROUP'}</span>
    </div>
    <div class="vChooseDownIcon"></div>
    <div class="vChooseDropDown">
        <div class="vChooseOpt" data-value="CREATE">&{'CREATE_SD_CARD_GROUP'}</div>
        <div class="vChooseOpt" data-value="VIEW">&{'VIEW_SD_CARD_GROUPS'}</div>
    </div>
</div>
