%{
    target=_target;
}%
<div class="filterProgCenterSecDiv">
    <div class="vChoose mcvChoose progvChoose margRight5 bluevChoose" data-value="-1" 
         data-onchange="onmcvChooseChange" data-beforemccall='onFilterWidgetProgChange'
         data-param-name="programId">
        <div class="vChooseHead">Select a program</div>
        <div class="vChooseDownIcon"></div>
        <div class="vChooseDropDown">
            <div class="vChooseOpt invalidvChooseOpt" data-value="-1"></div>
        </div>
    </div>
    <div class="vChoose mcvChoose centervChoose margRight5 bigvChoose" data-value="-1" 
         data-onchange="onmcvChooseChange"  data-beforemccall='onFilterWidgetCenterChange'
         data-param-name="centerId">
        <div class="vChooseHead">Select a Center</div>
        <div class="vChooseDownIcon"></div>
        <div class="vChooseDropDown">
            <div class="vChooseOpt invalidvChooseOpt" data-value="-1">Select a program first</div>
        </div>
    </div>
    <div class="vChoose mcvChoose sectionvChoose margRight5 bigvChoose" data-value="-1" 
         data-onchange="onmcvChooseChange"
         data-param-name="sectionId">
        <div class="vChooseHead">Select a section</div>
        <div class="vChooseDownIcon"></div>
        <div class="vChooseDropDown">
            <div class="vChooseOpt invalidvChooseOpt" data-value="-1">Select a center first</div>
        </div>
    </div>  
    <div class="vChoose mcvChoose coursevChoose margRight5 bigvChoose nonner" data-value="-1" 
         data-onchange="onmcvChooseChange"
         data-param-name="courseId">
        <div class="vChooseHead">Select a course</div>
        <div class="vChooseDownIcon"></div>
        <div class="vChooseDropDown">
            <div class="vChooseOpt invalidvChooseOpt" data-value="-1">Select a program first</div>
        </div>
    </div>      
</div>