*{<div id="ARC_DRAWING_CSSDIV">
    <script type="text/javascript">
        loadCSSFiles([{path:"uicomCommon/arc_drawing.css",source:$("#ARC_DRAWING_CSSDIV")}]);
    </script>
</div>}*
<span id="timer_circle" class="timerCircle" style="opacity:0;">
	<span class="half_fill_circle_1"></span>
	<span class="half_fill_circle_2"></span>
	<span class="rotating_half_circle"><span class="bg_color"></span></span>
</span>
<script type="text/javascript">
	$(function(){
		$(".timerCircle").css("opacity","1");
	});
</script>
